*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: "neuzeit-grotesk", sans-serif;
	background: #f9f9f9;
}
p {
  font-family: 'lora', georgia, serif;
}
a {
	color: #888;
	text-decoration: none;
}

a:hover,
a:active {
	color: #d3d3d3;
}

span {
  font-family: "lora", serif;
  font-weight: 400;
}
