*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'neuzeit-grotesk', sans-serif;
	background: #F9F9F9;
}

h1, h2 {
  text-align: center;
}

p {
  font-family: 'lora', georgia, serif;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #d3d3d3;
}

hr {
  margin: 20px auto;
}

footer {
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #FFF;
  border-bottom: 1px solid #777;
  z-index: 200;
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.navbar-center img {
  height: 25px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container .intro {
  max-width: 900px;
	margin: 60px auto;
	padding: 2em;
	text-align: center;
}

.container .intro h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 700;
  color: #aa1e22;
}

.container .intro h3 {
	line-height: 1.3;
	margin: 0;
	font-weight: 100;
  color: #aa1e22;
}

.branches {
  display: flex;
  justify-content: center;
}

.branch-link {
  padding: 5px 10px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.candidate {
  width: 33%;
}

.vote-btn {
	padding: 5px 10px;
	border-radius: 2px;
	background: #AA1E22;
	color: #FFF;
}

@media screeen and (max-width: 768px) {
  .candidate {
    width: 100%;
  }
}
