@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Lora);


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Lora', arial,helvetica !important;
	color: #383838;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif !important;
}

h1 {
	margin-top: 0 !important;
}

a, a:active, a:hover, a:visited {
	color: #AA1E23 !important;
}

.nav a, .nav a:active, .nav a:hover, .nav a:visited {
	color: #222 !important;
}

.nav {
	border-radius: 0;
}

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
.section.container h1 {
	color: #222;
}
p{
	font-size: 1.2em;
  text-align: justify;
	hyphens: auto;
	word-wrap: break-word;
	word-break: normal;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
.hero-logo img{
  color: #383838;
}

.section {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#section0 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49340_dsc_3082f.jpg);
}

#section2 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49321_screen_shot_20160112_at_123844_pmo.png);
}

#section3 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49337_copyeditingf.jpg);
}

#section4{
  background-image: url(https://s3.amazonaws.com/media.dpn/49331_sportsreportingf.jpg);
}

#section5 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49330_socialmediaf.jpg);
}

#section6 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49329_photodepo.jpg);
}

#section7 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49334_designf.jpg);
}

#section8 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49325_videof.jpg);
}

#section9 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49333_webf.jpg);
}

#section9-2 {
  background-image: url(https://s3.amazonaws.com/media.dpn/52802_sponsored_contentf.png);
}

#section11 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49338_advertisingf.jpg);
}

#section12 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49339_analyticsf.jpg);
}

#section13 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49336_internalconsultingf.jpg);
}

#section14 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49324_dsc_5140f.jpg);
}

#section15-1 {
  background-image: url(https://s3.amazonaws.com/media.dpn/52800_biz_analyticsf.png);
}

#section15-2 {
  background-image: url(https://s3.amazonaws.com/media.dpn/52801_ed_analyticf.jpg);
}

#section16 {
	background-image: url(https://s3.amazonaws.com/media.dpn/49326_street_copyo.jpg);
}

#section17{
  background-image: url(http://media.dpn.s3.amazonaws.com/49323_buttondarko.jpg);
}

.text-content {
	color: #222;
	background-color: rgba(229, 229, 229, 0.9);
	padding: 15px;
}

.text-content p,
.col-sm-6 p, {
	padding: 15px;
	padding-bottom: 0;
	padding-top: 0;
}

#section4 .fp-tableCell {
  top: -15vh;
  position: relative;
}

#section17 .fp-tableCell {
  top: -5vh;
  position: relative;
}

.dept-list {
  font-size: 1.4em;
}

.dept-list a {
  font-size: 1.4em;
}


/* Centered texts in each section
* --------------------------------------- */
.section{
  text-align:center;
}

/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
  position:fixed;
  height: 70px;
  display:block;
  width: 100%;
  /*background: #333;*/
  z-index:9;
  /*text-align:center;*/
  /*color: #f2f2f2;*/
  /*padding: 20px 0 0 0;*/
}

#header{
  top:0px;
}
#footer{
  bottom:0px;
}
