@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i|Open+Sans:400,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.section-header {
    color: #E7525F;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-t: bold;
    margin-bottom: 12px;
}

.more-stories .section-header {
    color: white;
    margin-bottom: 20px;
}

.section-inverse .more-stories .section-header {
    color: #131313;
}

/* use h3 */
.main-header {
    color: white;
    margin-top: 16px;
    font-family: 'DM Serif Display', serif;
}

.section-inverse .main-header {
    color: #131313;
}

/* use h4 */
.primary-story {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
}

.section-inverse .primary-story {
    color: #131313;
}

.primary-section {
    padding-top: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 28px;
}

.primary-story-line {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 28px 0px;
}

.section-inverse .primary-story-line {
    background-color: rgba(0, 0, 0, 0.3);
}

/* use h5 */
.secondary-story{
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
}

.section-opinion {
    background-color: #F1F5FF;
    padding: 120px 0px;
}

.section-opinion .section-header {
    color: #131313;
    font-family: 'DM Serif Display', serif;
    font-size: 52px;
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
}

.column-title {
    color: #E7525F;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.opinion-title {
    color:#131313;
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    margin-bottom: 12px;
}

.author-opinion-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author-opinion-img p {
    margin-bottom: 0px;
    margin-left: 16px;
    color: #8E929F;
    font-weight: bold;
    font-size: 14px;
}

.opinion-img {
    height: 54px;
    width: 54px;
    background-color: #f9f9f9;
    float: left;
    border-radius: 50%;
    background-size: cover;
    background-position: top;
    flex-shrink: 0;
}

.opinion-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
    padding-bottom: 30px;
    padding-right: 20px;
}

.opinion-card-img {
    margin-bottom: 20px;
}

.section-description {
    max-width: 50%;
    margin: 16px auto 64px;
    text-align: center;
}

.section-inverse .secondary-story {
    color: #131313;
}

.story-link {
    color: inherit;
}

.story-link:hover {
    text-decoration: none;
    color: inherit;
}

.section {
    background-color: #131313;
    padding: 120px 0px;
}

.section-inverse {
    background-color: white;
    padding: 80px 0px;
}

.section-inverse .section-main-header {
    color: #131313;
}

.section-main-text {
    color: white;
    margin-top: 16px;
}

.section-inverse .section-main-text {
    color: #131313;
}

.date {
    color: #CFD3DD;
}

.section-inverse .date {
    color: #6C6F78;
}

.more-stories {
    margin-top: 20px;
    padding-top: 20px;
}

/* Util classes */
.right-border {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.section-inverse .right-border {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.top-border {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.section-inverse .top-border {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.narrow-col-right {
    padding-right: 24px;
}

.narrow-col-left {
    padding-left: 24px;
}

@media screen and (max-width: 576px) {
    
}