@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i|Roboto:400,500,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}

/* use h3 */
.main-header {
    color: white;
    margin-top: 16px;
    font-family: 'DM Serif Display', serif;
}

/* use h4 */
.primary-story {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
}

/* use h5 */
.secondary-story{
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
}

.story-link {
    color: inherit;
}

.story-link:hover {
    text-decoration: none;
    color: inherit;
}

.section {
    background-color: #131313;
    padding: 120px 0px;
}

.section-inverse {
    background-color: white;
}

.section-inverse .section-main-header {
    color: #131313;
}

.section-main-text {
    color: white;
    margin-top: 16px;
}

.date {
    color: white;
}

.more-stories {
    margin-top: 20px;
    padding-top: 20px;
}


/* Util classes */
.right-border {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.top-border {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.narrow-col-right {
    padding-right: 24px;
}

.narrow-col-left {
    padding-left: 24px;
}