@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i|Open+Sans:400,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.section-header {
    color: #E7525F;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.more-stories .section-header {
    color: white;
    margin-bottom: 20px;
}

.section-inverse .more-stories .section-header {
    color: #131313;
}

/* use h3 */
.main-header {
    color: white;
    margin-top: 16px;
    font-family: 'DM Serif Display', serif;
}

.section-inverse .main-header {
    color: #131313;
}

/* use h4 */
.primary-story {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
}

.section-inverse .primary-story {
    color: #131313;
}

.primary-section {
    padding-top: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 28px;
}

.primary-story-line {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 28px 0px;
}

.section-inverse .primary-story-line {
    background-color: rgba(0, 0, 0, 0.3);
}

/* use h5 */
.secondary-story{
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
}

.section-inverse .secondary-story {
    color: #131313;
}

.story-link {
    color: inherit;
}

.story-link:hover {
    text-decoration: none;
    color: inherit;
}

.section {
    background-color: #131313;
    padding: 120px 0px;
}

.section-inverse {
    background-color: white;
    padding: 120px 0px;
}

.section-inverse .section-main-header {
    color: #131313;
}

.section-main-text {
    color: white;
    margin-top: 16px;
}

.section-inverse .section-main-text {
    color: #131313;
}

.date {
    color: #CFD3DD;
}

.section-inverse .date {
    color: #6C6F78;
}

.more-stories {
    margin-top: 20px;
    padding-top: 20px;
}

/* Util classes */
.right-border {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.section-inverse .right-border {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.top-border {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.section-inverse .top-border {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.narrow-col-right {
    padding-right: 24px;
}

.narrow-col-left {
    padding-left: 24px;
}

@media screen and (max-width: 576px) {
    
}