@import url('https://fonts.googleapis.com/css?family=KoHo:400,600|Lato:300');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'KoHo', sans-serif;
}

h1 {
  font-size: 100px;
  margin-top: -10px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(69,89,50);
  color: rgb(69,89,50);
  text-transform: uppercase;
}

h2 {
  font-weight: 600;
}

h3 {
  display: inline-block;
  color: rgb(69,89,50);
}

hr {
  border-top: 2px solid rgb(69,89,50);
}

footer {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0 5px;
  background-color: #000;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ad-container hr {
  border-top: 1px solid rgba(0,0,0,.1);
}

.ad-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ad {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

.title-section {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  text-align: right;
  background-image: url('https://s3.amazonaws.com/snwceomedia/dpn/85e88f36-6b1b-4ebb-a269-93b709751011.original.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.title-text {
  width: 100%;
  margin-top: 100px;
  margin-right: 40px;
  padding: 20px;
}

.title-section hr {
  display: inline-block;
  width: calc(100% - 80px);
  margin-bottom: 0;
  float: left;
}

.read-more-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more {
  color: #212529;
}

.read-more:hover {
  color: #777;
  text-decoration: none;
}

.description {
  margin: 10px 0 15px;
}

.btn {
  color: #000;
  border: 1px solid #000;
}

.btn:hover {
  color: #777;
  border: 1px solid #777;
}

.articles {
  margin-bottom: 20px;
}

.articles .title {
  display: none;
}

.horizontal-titles {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.half {
  display: none;
}

.featured-container {
  min-height: 100vh;
  height: 100vh;
  padding: 100px;
}

.featured {
  height: 100%;
  margin-left: 150px;
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/snwceomedia/dpn/19fe4e90-0b00-4131-b9df-89ebf20be696.original.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;
}

.featured-image {
  display: none;
}

.featured-text {
  width: 40%;
  margin-left: -150px;
  padding: 20px;
}

.full-description {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.full-button {
  align-self: flex-start;
}

.street-photo {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.street-housing {
  background-image: url('https://snworksceo.imgix.net/dpn-34s/dd1dfb6c-0a52-4a0a-9fc7-bb0e34ff01e2.sized-1000x1000.JPG');
}

.street-art {
  background-image: url('https://snworksceo.imgix.net/dpn-34s/cf3afd90-fdb0-49a4-bdb7-7f5c9636f488.sized-1000x1000.PNG');
}

.video-title {
  margin-bottom: 40px;
  text-align: center;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.juxtapose-container {
  position: relative;
  padding-bottom: 73%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.juxtapose-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slick-arrow {
  width: 40px;
  height: 40px;
}

.slick-arrow::before {
  font-size: 40px;
}

.slick-prev {
  left: -45px;
}

.slick-next {
  right: -45px;
}

.thistle {
  background-color: rgb(196,164,190);
}

.olive {
  background-color: rgb(132,129,65);
}

.sand {
  background-color: rgb(228,222,213);
}

.chartreuse {
  background-color: rgb(223,221,80);
}

.cactus {
  background-color: rgb(69,89,50);
}

.mint {
  background-color: rgb(191,206,182);
}

@media only screen and (max-width: 1032px) {
  .slick-arrow {
    width: 28px;
    height: 28px;
  }

  .slick-arrow::before {
    font-size: 28px;
  }

  .slick-prev {
    left: -33px;
  }

  .slick-next {
    right: -33px;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 70px;
  }

  .half {
    display: flex;
    align-items: flex-start;
  }

  .horizontal-titles.four {
    display: none;
  }

  .featured-container {
    padding: 100px 50px;
  }

  .street-photo {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .top-image {
    margin-bottom: 10px;
  }

  .articles {
    margin-bottom: 50px;
  }

  .articles .title {
    display: block;
  }

  .horizontal-titles {
    display: none;
  }

  .half {
    display: none;
  }

  .featured-container {
    height: auto;
    padding: 100px 15px;
  }

  .featured {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
  }

  .featured-image {
    display: block;
  }

  .featured-text {
    width: 100%;
    margin-left: 0;
  }

  .full-image {
    margin-bottom: 20px;
  }

  .street-photo {
    height: 450px;
  }

  .video-gallery {
    padding-left: 30px;
    padding-right: 30px;
  }

  .slick-arrow {
    width: 20px;
    height: 20px;
  }

  .slick-arrow::before {
    font-size: 20px;
  }

  .slick-prev {
    left: -25px;
  }

  .slick-next {
    right: -25px;
  }

  .juxtapose-container {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    margin-top: -20px;
    font-size: 54px;
    border: none;
  }

  .title-text {
    margin-top: -10px;
    margin-right: 0;
    padding: 20px;
  }

  .street-photo {
    height: 300px;
  }
}
