@import url('https://fonts.googleapis.com/css?family=KoHo:400,600|Lato:300');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'KoHo', sans-serif;
}

h1 {
  font-size: 70px;
  color: #FFF;
}

h2 {
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0 5px;
  background-color: #000;
}

.title-section {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url('https://snworksceo.imgix.net/dpn/854b0599-a28f-42be-bbea-64149c69c585.sized-1000x1000.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.description {
  margin: 10px 0 15px;
}

.btn {
  color: #000;
  border: 1px solid #000;
}

.articles {
  margin-bottom: 20px;
}

.articles .title {
  display: none;
}

.articles .title2 {
  display: none;
}

.horizontal-titles {
  display: flex;
  align-items: flex-start;
}

.half {
  display: none;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.featured-container {
  min-height: 100vh;
  height: 100vh;
}

.featured {
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url('https://snworksceo.imgix.net/dpn/d5f0df72-89cf-419f-8e7a-3d82e4ec2f3a.sized-1000x1000.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 150px 0;
  background-origin: content-box;
}

.featured-image {
  display: none;
}

.featured-text {
  width: 40%;
  padding: 20px;
}

.full-description {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.full-button {
  align-self: flex-start;
}

.video-title {
  margin-bottom: 40px;
  text-align: center;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mint {
  background-color: rgb(191, 206, 182);
}

.no-bottom-padding {
  padding-bottom: 0px;
}

.chartreuse {
  background-color: rgb(223,221,80);
}

.sand {
  background-color: rgb(228, 222, 213);
}

@media only screen and (max-width: 992px) {
  .half {
    display: flex;
    align-items: flex-start;
  }

  .horizontal-titles2 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .articles {
    margin-bottom: 50px;
  }

  .articles .title {
    display: block;
  }

  .horizontal-titles {
    display: none;
  }

  .half {
    display: none;
  }

  .featured-container {
    height: auto;
  }

  .featured {
    width: 100%;
    flex-direction: column;
  }

  .featured-image {
    display: block;
  }

  .featured-text {
    width: 100%;
  }

  .full-image {
    margin-bottom: 20px;
  }
}
