.square {
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%;
  margin:1.66%;
  background-color:#F8B4BB;
  overflow:hidden;
}

.square:nth-child(4n+1) {
  background-color: #eb6590;
}
.square:nth-child(4n+2) {
  background-color: #e53737;
}
.square:nth-child(4n+3) {
  background-color: #604856;
}

.content {
  position:absolute;
  height:100%;
  width:100%;
  padding: 5%;

}
.table{
  display:table;
  width:100%;
  height:100%;
}
.table-cell{
  display:table-cell;
  vertical-align:middle;
}

body {
  font-size:20px;
  font-family: 'neuzeit-grotesk',verdana, sans-serif;
  color: #fff;
  text-align:center;
  background:#F1E0E2;
}

a {
  color: #F1E0E2;
}

a:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

span#search-icon {
  cursor: pointer;
}

small {
  font-size: 75%;
}

h1, h2, h3, h4 {
  color: #46131b;
}

a {
  float: right;
  position: absolute;
  bottom: 3px;
  right: 7px;
}
.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
  border-right:0;
  box-shadow:0 0 0;
  border-color:#ccc;
}
.stylish-input-group .fa {
  border:0;
  background:transparent;
}
@media screen and (max-width: 720px) {
  body {
    padding: 15px;
  }
  .row {
    margin: 0;
  }
  .square {
    width: 100%;
    font-size: 80%;
    padding-bottom: 47%;
    margin-bottom: 10px;
    }      }
    .container {
      padding-left: 0;
    }
  }
