@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700|Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #F0F3F5;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.dom-visual {
    height: auto;
    background-image: url(https://snworksceo.imgix.net/dpn/afecbda9-5424-4ab6-8d5d-3cf7ff75db55.sized-1000x1000.png?);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
    padding-bottom: 56.25%;
    border-bottom: 1px #3E4149 solid;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: normal;
    font-family: 'Gothic A1', sans-serif;
}

h2 {
}

h6 {
    color: rgb(48, 100, 125);
    font-size: 0.8rem;
    text-align: center;
}

.navbar {
    background-color: #18224A;
}

.navbar-logo {
    margin: 0 auto;
}

.header {
    height: 100vh;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F0F3F5;
}

.section-inverse {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3E4149;
}

.teal-highlight {
    padding: 7px;
    background-color: #30E1DC;
    color: white;
}

.bubble {
    position: relative;
    background-color: #167EF4;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.20);
    transition: all 0.3s;
    margin-top: 40px;
    margin-bottom: 25px;
}

.bubble:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.30);
    transform: scale(1.03);
}

.bubble:hover .bubble-tri{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bubble-content {
    margin-bottom: 10px;
}

.bubble-content a {
    color: white;
    font-family: 'Gothic A1', sans-serif;
    font-size: 24px;
    transition: all 0.3s;
}

.bubble-subhead {
    margin-bottom: 20px;
}

.bubble-content a:hover {
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    text-decoration: none;
}

.bubble-line {
    height: 2px;
    width: 25%;
    background-color: black;
}

.bubble-tri {
    position: absolute;
    bottom: -30px;
    /* left: 30px; */
    color: #167EF4;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.bubble-card .bubble {
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.bubble-card {
    margin-top: 40px;
    transition: all 0.3s;
}

.bubble-card .bubble:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.30);
    transform: scale(1.00);
}

.bubble-card:hover {
    transform: scale(1.03);
}

.bubble-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.embed-container { 
    position: relative;
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.17); */
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.poll-row {
    margin-top: 40px;
}

.schedule {
    margin-bottom: 30px;
}

.feature {
    margin-left: 15px;
    margin-right: 15px;
}

.feature .feature-img {
    margin-top: 60px;
    margin-bottom: 20px;
    background-size: cover;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
}

.feature .women-img {
    background-image: url("https://snworksceo.imgix.net/dpn/0794b030-fb30-45cf-ad27-e37746c0cb34.sized-1000x1000.jpg?");
    margin-left: 200px;
    align-items: flex-start;
}

.feature .mens-img {
    background-image: url("https://snworksceo.imgix.net/dpn/0c45bd2a-6461-447b-95a3-fa7d43d227a3.sized-1000x1000.jpg?");
    margin-right: 200px;
    height: 600px;
    justify-content: flex-end;
    align-items: flex-start;
}

.womens-feature .bubble {
    width: 35%;
    margin-left: -200px;
}

.mens-feature .bubble {
    width: 35%;
    margin-right: -200px;
}

.hidden-lg {
    display: none;
}

.shrink-spacing a {
    letter-spacing: -0.7px;
}

@media screen and (min-width: 992px) {
}

@media screen and (max-width: 768px) {
    .dom-visual {
        background-image: url("https://snworksceo.imgix.net/dpn/2b6859b8-9c69-46ca-93d3-6de61235f02f.sized-1000x1000.png?");
        padding-bottom: 630px;
    }

    .feature {
        display: none;
    }

    .started .bubble {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .started .col-md-4:nth-child(1) {
        margin-top: 30px;
    }

    .hidden-lg {
        display: inherit;
    }
}

@media screen and (max-width: 576px) {
    .schedule-section {
        display: none;
    }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {

}