/* HEADER STYLES */
nav {
  font-family: 'neuzeit-grotesk', sans-serif;
  font-weight: 700;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
  z-index: 1000000;
}
nav .glyphicon {
  vertical-align: text-bottom;
  top: -0.5px;
}
nav h4 {
  font-weight: 700;
}

footer {
  color: #fff;
}

#map {
  font-family: 'neuzeit-grotesk', sans-serif !important;
  height: 400px;
  width: 100%;
}

.row:first-of-type {
  padding-top: 70px;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}

.search-field .fa {
  margin-left: -10px;
}
.search-field:after {
  content: "";
  position: absolute;
  left: 45px;
  bottom: -105%;
  height: 170%;
  width: 1px;
  border-right: 1px solid #777;
}

.menu-toggle {
  cursor: pointer;
  max-height: 50px;
  transition: all 250ms ease-in-out;
}
.menu-toggle::after {
  transition: all 0.25s ease-in-out;
  content: "";
  margin-left: -10vw;
  height: 0;
  opacity: 0;
}
.menu-toggle:not(.closed) {
  background-color: #000;
}
.menu-toggle:not(.closed) span {
  color: #fff;
}
.menu-toggle:not(.closed)::after {
  transition: all 0.25s ease-in-out;
  content: "";
  opacity: 1;
  position: absolute;
  width: 120vw;
  margin-left: -10vw;
  height: 7px;
  background-color: black;
}
.menu-toggle .fa-bars {
  padding-right: 5px;
}

.social-icons .fa {
  padding-left: 5px;
}
.nav > li > a > img {
  max-width: 40px;
}
.navbar-subscribe {
  font-weight: 700;
  font-size: 14px;
  background: #aa1e22;
  text-transform: uppercase;
}

.header-section {
  padding-left: 3%;
  padding-right: 3%;
}

.header-table td {
  line-height: 1.1 !important;
}

.section-dropdown {
  width: 100%;
  background-color: #f8f8f8;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 25px;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  max-height: 1000px;
  overflow: hidden;
}
.section-dropdown.closed {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.leaflet-find-poll {
  position: absolute !important;
  left: 227px;
  top: 10px;
}

#address {
  max-width: 160px;
  max-height: 27px;
  position: absolute;
  z-index: 10;
  left: 60px;
  top: 10px;
}

/*/ Header Styles*/
body {
  font-family: 'neuzeit-grotesk', sans-serif;
}

#coffee {
  background-color: #fcb514;
}

h1, h2, h3, h5 {
  font-weight: 700;
}

h1 {
  color: white;
  font-size: 100pt;
}

h2 {
  font-family: 'neuzeit-grotesk', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-top: 0;
}

h3 {
  color: #fcb514;
  font-size: 12pt;
}
.vendor h5 {
  color: #fcb514;
  font-weight: 400;
  font-size: 16px;
  height: 30px;
}
h4 {
  height: 70px;
  color: white;
}

h5 {
  height: 70px;
  font-size: 9pt;
  font-weight: 300;
  color: white;
}

.dark {
  background-color: #502a0f;
}

.medium {
  background-color: #633213;
}

.logo {
  width: 80px;
}

.tooltip-title {
  color: #8e4521;
  text-transform: uppercase;
  text-align: center;
}

#sponsor {
  color: white;
  font-size: 15pt;
  font-family: 'neuzeit-grotesk', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}

#vendors {
  padding-top: 30px;
  margin-bottom: 30px;
}

.vendor {
  margin-left: 5px;
  margin-right: 5px;
  height: 400px;
  cursor: pointer;
}

.vendor.active {
  background-color: #bc7937;
}

#hubbub {
  border: 5px solid #EE3E33;
}

.logo {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.col-sm-6, .col-xs-6 {
  padding-left: 0;
  padding-right: 0;
}

.coffee-container, .coffee-container .row {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.coffee-container {
  padding: 5px;
}

.coffee-container .col-labels {
       left: -5px;
}

.col-labels {
  padding-top: 170px;
  width:100px;
  position:absolute;
  height:100%;
}

.col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

.col-offset-15 {
  padding-left: 10px;
  padding-right: 0;
}

.rotate {
  position: absolute;
  font-weight: 400;
  font-size: 13px;
  color: white;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

a {
  color: #aa1e22;
  font-weight: 100;
}

a:hover {
  color: #990e00;
  font-weight: 100;
}

footer {
  padding-bottom: 15px;
}

p {
  font-family: open-sans, helvetica, ariel, sans-serif;
}

.black {
  color: #000;
  text-decoration: none;
}

.leaflet-popup-content-wrapper {
  border: 8px solid #633213;
  border-radius: 0;
  width: 250px;
  height: auto;
}

.leaflet-popup-close-button {
  right: 9px;
  top: 9px;
}

.leaflet-container h3 {
  position: relative;
  top: -10px;
  font-size: 20px;
  margin-bottom: -10px;
}

.leaflet-marker-pane {
  position: relative;
  z-index: 1000;
}

.leaflet-popup-tip {
  width: 5px;
  height: 15px;
  background-color: #fcb514;
  margin: 0;
  border: 0;
  margin-left: 5px;
  box-shadow: none;
}
.leaflet-popup-pane {
    z-index: 1000;
}
.addr {
  text-align: center;
  font-size: 16px;
  color: #bc7937;
}
