body {
  font-family: neuzeit-grotesk, Helvetica, Arial, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: #000;
}

h1, h2, h3 {
  margin-top: 0 !important;
}

nav img {
  padding-top: 15px;
}

#featured-secondary {
  padding-left: 25px;
  margin-left: 15px;
  margin-right: -15px;
  border-left: 1px solid #eee;
}

.wrapper {
  margin-top: 100px;
}

.row {
  margin-bottom: 15px;
}

.row:first-child {
  padding-top: 0;
}

.ad {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

.welcome {
  width: 50%;
}

.welcome p {
  margin-top: 0;
  padding: 0;
}

.welcome a {
  color: #AA1E22;
}

#articles.row {
  margin-bottom: 0;
}

.proj-desc, .pull-left, .pull-right {
  color: #777;
}

.proj-section {
  font-size: 16px;
  color: #777;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 200;
}

.img-full {
  width: 100%;
}

.secondary-feature:first-of-type {
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.credit {
  text-align: center;
}

@media screen and (max-width: 768px) {
  #featured-secondary {
    border-left: none;
  }

  .welcome {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
