body {
	color:black;
	font-family:serif;
}

.navbar {
	background: #000;
	border-style: none;
}

.jumbotron {
	background: rgba(255, 255, 255, .7);
}

.btn-primary {
	background: #000;
	border-style: none;
}

.btn-primary:hover {
	background: #303030;
}

.mainphoto {
	width:140%;
	margin-left: -20%;
}

.photo{
	width:100%;
}

