@import url('https://use.typekit.net/gpp1vtp.css');

body {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 300;
	color: #000;
}

footer {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

h1, h2, h3, h4 {
	font-weight: 700;
}

h3 {
	margin-bottom: 50px;
}

img {
	margin-bottom: 10px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #5b5b5b;
	text-decoration: none;
}

.fresh {
	background-color: #CCDFC8;
}

.watermelon {
	background-color: #FF6A5C;
}

.matte {
	background-color: #414141;
	color: #FFF;
}

.teal {
	background-color: #056571;
	color: #FFF;
}

.matte a, .teal a {
	color: #FFF;
}

.matte a:hover, .teal a:hover {
	color: #d1d1d1;
}

.teal hr {
	border-color: #FFF;
}

.fresh hr {
	border-color: #000;
}

.container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.header {
	display: flex;
	justify-content: center;
	padding: 10px 0 0;
	background-color: #000;
}

.header-image {
	width: 600px;
	height: auto;
	display: block;
	margin: auto;
}

.links {
	margin-top: 30px;
	color: #000;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.article-block {
	padding: 10px;
}

.section-title {
	text-align: center;
	margin-bottom: 30px;
}

.upper-section {
	margin-bottom: 20px;
}

.blurb {
	margin-top: 10px;
}

.photo-blurb {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.big-visual {
	background-image: url('https://s3.amazonaws.com/snwceomedia/dpn/a8d0c3e4-b971-4fbb-8b54-aa1410d6d9ad.sized-1000x1000.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
}

.margin-top {
	margin-top: 40px;
}

@media screen and (max-width: 768px) {
	h3 {
		margin-bottom: 15px;
	}

	.big-visual {
		height: 240px;
	}
}
