@import url('https://use.typekit.net/gpp1vtp.css');

body {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 300;
	color: #050505;
}

h1, h2, h3, h4 {
	margin: 0;
	font-weight: 700;
}

h2, h3:not(:last-of-type) {
	margin-bottom: 20px;
}

h3 {
	font-weight: 500;
}

a {
	color: #050505;
	text-decoration: none;
}

a:hover {
	color: #5b5b5b;
	text-decoration: none;
}

.fresh {
	background-color: #fade53;
}

.light {
	background-color: #f7f8da;
}

.teal {
	background-color: #45aaa9;
	color: #FFF;
}

.matte a, .teal a {
	color: #FFF;
}

.matte a:hover, .teal a:hover {
	color: #d1d1d1;
}

hr {
	border-color: #050505;
}

.teal hr, .matte hr {
	border-color: #FFF;
}

.container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.ad {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

.header {
	height: 45px;
	display: flex;
	justify-content: center;
	padding: 10px 0 0;
	background-color: #000;
}

.header-image {
	width: 600px;
	height: auto;
	display: block;
	margin: auto;
}

.quick-links {
	padding: 20px;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section-title {
	text-transform: uppercase;
}

.photo-blurb {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.big-visual {
	background-image: url('https://s3.amazonaws.com/snwceomedia/dpn/a8d0c3e4-b971-4fbb-8b54-aa1410d6d9ad.sized-1000x1000.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
}

.margin-top {
	margin-top: 40px;
}

.margin-bottom {
	margin-bottom: 40px;
}

.street-box {
	display: block;
	margin-top: 20px;
	padding: 20px;
	background-color: rgb(242, 222, 221);
	text-align: center;
}

.street-box h4, .street-box p {
	margin: 0;
}

@media screen and (max-width: 768px) {
	h3 {
		margin-bottom: 15px;
	}

	.big-visual {
		height: 240px;
	}
}
