<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowUserScaling</key>
	<integer>1</integer>
	<key>createOfflineApplicationCache</key>
	<false/>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>344</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>fonts</key>
	<array/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2015-02-10T01:57:10Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>106</real>
		<key>mainWindowFrame</key>
		<string>519 233 725 697 0 0 1920 1058 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>440</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>5.1.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>mobileStatusBarStyle</key>
	<integer>0</integer>
	<key>oidCounter</key>
	<integer>15</integer>
	<key>resourcesInfo</key>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>expanded</key>
				<true/>
				<key>name</key>
				<string>IMG_9117</string>
				<key>oid</key>
				<string>2</string>
				<key>resources</key>
				<array>
					<string>IMG_9117.JPG</string>
				</array>
			</dict>
		</array>
		<key>resources</key>
		<array>
			<dict>
				<key>fileModificationDate</key>
				<date>2015-01-20T23:01:42Z</date>
				<key>fileSize</key>
				<integer>6420304</integer>
				<key>md5</key>
				<string>C5C32A0470132F768DA2CB740868BF94</string>
				<key>notifyOnBookmarkChange</key>
				<true/>
				<key>originalPath</key>
				<string>/Users/dpstaff/Desktop/IMG_9117.JPG</string>
				<key>resourceName</key>
				<string>IMG_9117.JPG</string>
				<key>securityScopedBookmark</key>
				<data>
				Ym9vaxgEAAAAAAQQMAAAAHWlnt33Suj/RLoAvOlXcpbi
				3400trljZwLYlTVCx9kTFAMAAGcBAAABAQAAYXBwbGVz
				ZWN1cml0eXNjb3BlPTM1NjIzNjYxMzgzMTM1MzMzNzYz
				NjMzNzM2MzYzNzYxNjY2MzMxMzczMjM5NjI2MzM0MzMz
				MjM3MzM2MzMxMzY2MTYyMzkzNjY2NjYzNDMyM0IzMDMw
				MzAzMDMwMzAzMDMwM0IzMDMwMzAzMDMwMzAzMDMwMzAz
				MDMwMzAzMDMwMzIzMDNCNjM2RjZEMkU2MTcwNzA2QzY1
				MkU2MTcwNzAyRDczNjE2RTY0NjI2Rjc4MkU3MjY1NjE2
				NDJENzc3MjY5NzQ2NTNCMzAzMDMwMzAzMDMwMzAzMTNC
				MzAzMTMwMzAzMDMwMzAzMjNCMzAzMDMwMzAzMDMwMzAz
				MDMwMzAzNjYyMzAzNDMyNjUzQjJGNzU3MzY1NzI3MzJG
				NjQ3MDczNzQ2MTY2NjYyRjY0NjU3MzZCNzQ2RjcwMkY2
				OTZENjc1RjM5MzEzMTM3MkU2QTcwNjcABQAAAAEBAABV
				c2VycwAAAAcAAAABAQAAZHBzdGFmZgAHAAAAAQEAAERl
				c2t0b3AADAAAAAEBAABJTUdfOTExNy5KUEcQAAAAAQYA
				AHQBAACEAQAAlAEAAKQBAAAIAAAABAMAAOkQAgAAAAAA
				CAAAAAQDAADtmAwAAAAAAAgAAAAEAwAAXZkMAAAAAAAI
				AAAABAMAAC4EawAAAAAAEAAAAAEGAADQAQAA4AEAAPAB
				AAAAAgAACAAAAAAEAABBum8V1gAAABgAAAABAgAAAQAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAACAAAA
				AAAAAAQAAAADAwAA9gEAAAwAAAABAQAATWFjaW50b3No
				IEhECAAAAAQDAAAAgJyt6AAAAAgAAAAABAAAQbbvkdoA
				AAAkAAAAAQEAADA2MTQxNTQyLUI3NjUtMzZENy1CMzM1
				LTJGOUYyQzU5ODhENRgAAAABAgAAgQAAAAEACADvPwAA
				AQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAE
				AAAAAwMAAAAJACjMAAAA/v///wEAAAAAAAAAEAAAAAQQ
				AAC4AQAAAAAAAAUQAAAQAgAAAAAAABAQAAA4AgAAAAAA
				AEAQAAAoAgAAAAAAAAIRAAAEAAAAAAAAAAIgAAD0AgAA
				AAAAABAgAAB0AgAAAAAAABEgAACoAgAAAAAAABIgAACI
				AgAAAAAAABMgAACYAgAAAAAAACAgAADUAgAAAAAAADAg
				AAAAAwAAAAAAAAHAAABYAgAAAAAAABHAAACEAQAAAAAA
				ABLAAABoAgAAAAAAABDQAAAIAwAAAAAAAA==
				</data>
				<key>shouldAutoResize</key>
				<true/>
				<key>shouldIncludeInDocumentHeadHTML</key>
				<false/>
				<key>shouldPreload</key>
				<true/>
				<key>shouldRemoveWhenNoLongerReferenced</key>
				<true/>
				<key>type</key>
				<string>FileResource</string>
			</dict>
		</array>
	</dict>
	<key>sceneScalePercentageSize</key>
	<string>{1, 1}</string>
	<key>sceneSize</key>
	<string>{600, 400}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>4</key>
					<real>0.5</real>
					<key>kTimelineDefaultIdentifier</key>
					<real>1</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{725, 440}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>14</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>FontFamily</string>
							<key>objectValue</key>
							<string>Helvetica,Arial,Sans-Serif</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingRight</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>16px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Opacity</string>
							<key>objectValue</key>
							<string>1.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WordWrap</string>
							<key>objectValue</key>
							<string>break-word</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>79px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingBottom</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>WhiteSpaceCollapsing</string>
							<key>objectValue</key>
							<string>preserve</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>18px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>154px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FilterEffectBrightness</string>
							<key>objectValue</key>
							<string>1.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>298px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingLeft</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>PaddingTop</string>
							<key>objectValue</key>
							<string>8px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Text</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TextColor</string>
							<key>objectValue</key>
							<string>#FFFFFF</string>
						</dict>
					</array>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>OriginalWidth</string>
							<key>objectValue</key>
							<string>5184px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FontSize</string>
							<key>objectValue</key>
							<string>15px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ConstrainProportions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Display</string>
							<key>objectValue</key>
							<string>inline</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Cursor</string>
							<key>objectValue</key>
							<string>pointer</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Image</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>53px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionHandlerOnMouseOut</string>
							<key>objectValue</key>
							<dict>
								<key>actions</key>
								<array>
									<dict>
										<key>playInReverse</key>
										<false/>
										<key>type</key>
										<integer>3</integer>
									</dict>
								</array>
							</dict>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundRepeat</string>
							<key>objectValue</key>
							<string>no-repeat</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>294px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundImageResourceGroupOid</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>79px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>SizeRatio</string>
							<key>objectValue</key>
							<string>1.5</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>FilterEffectBrightness</string>
							<key>objectValue</key>
							<string>1.000000</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ActionHandlerOnMouseOver</string>
							<key>objectValue</key>
							<dict>
								<key>actions</key>
								<array>
									<dict>
										<key>playInReverse</key>
										<false/>
										<key>timelineIdentifier</key>
										<string>4</string>
										<key>type</key>
										<integer>3</integer>
									</dict>
								</array>
							</dict>
						</dict>
						<dict>
							<key>identifier</key>
							<string>InnerHTML</string>
							<key>objectValue</key>
							<string></string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>441px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundSize</string>
							<key>objectValue</key>
							<string>100% 100%</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>IMG_9117</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>OriginalHeight</string>
							<key>objectValue</key>
							<string>3456px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
					</array>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array/>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>0.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>FilterEffectBrightness</string>
									<key>objectValue</key>
									<string>0.500000</string>
								</dict>
								<key>identifier</key>
								<string>FilterEffectBrightness</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>FilterEffectBrightness</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>A48AEAAF-D9B0-464B-BF7D-F2EE4D7CB278-10521-0000F9841E1ED8DF</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>Here’s a sample of what we’ll be creating</string>
								</dict>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>14</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>5DE3E7C1-541B-405C-A835-E3D9A2737CB7-10521-0000FA7627ED1387</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>FilterEffectBrightness</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>14</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>FilterEffectBrightness</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>CC419552-DC1B-4919-B8C9-D17D972877FB-10521-0000FAEAC75CCB08</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>14</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>0.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9D9B7473-B46A-491D-9EE8-767EB40E0289-10521-0000FAF11F826922</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>InnerHTML</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>14</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>InnerHTML</string>
									<key>objectValue</key>
									<string>Here’s a sample of what we’ll be creating</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>F15C99D7-7271-4195-80CF-C250153A5C5C-10521-0000FA7627F35256</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>FilterEffectBrightness</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>FilterEffectBrightness</string>
									<key>objectValue</key>
									<string>0.500000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>A6127A1B-0265-4D33-96C5-851044B28EBF-10521-0000F9841E2627AA</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Opacity</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>14</string>
								<key>startTime</key>
								<real>0.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Opacity</string>
									<key>objectValue</key>
									<string>1.000000</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>D4CC68BC-E8FD-466C-B564-9969830B5D72-10521-0000FAF31A5715AC</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>4</string>
						<key>name</key>
						<string>Transition</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array/>
			<key>splitHeight</key>
			<real>440</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>shouldScaleSceneHeight</key>
	<false/>
	<key>shouldScaleSceneWidth</key>
	<false/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>showTapHighlight</key>
	<integer>1</integer>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>useInitialScale</key>
	<integer>0</integer>
	<key>useTouchEvents</key>
	<true/>
	<key>videoExportLoopPlayback</key>
	<true/>
	<key>viewportOption</key>
	<integer>0</integer>
	<key>webAppCapable</key>
	<integer>0</integer>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
