@import url("https://use.typekit.net/fil7gyr.css");

header h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

h1, h2, h3, h4, .icon {
  font-family: ff-good-web-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h6 {
  color: rgb(48, 100, 125);
}

a:hover {
  text-decoration: none;
}

a:hover h5 {
  color: rgb(88, 176, 230);
}

.content {
  padding-left: 0;
  padding-right: 0;
}

.section {
  padding-bottom: 100px;
}

.title {
  margin-top: 50px;
}

.polls .col-md-5 {
  background-color: rgb(225, 230, 233);
  margin: 5px;
}

.intro {
  width: 50%;
  margin: auto;
  text-align: center;
}

.poll-wrapper {
  text-transform: uppercase;
  font-style: normal;
}

.ps-header-div, .standings-header-div {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  margin-bottom: 10px
}

.ps-top-header-m, .ps-top-header-w, .standings-top-header-m, .standings-top-header-w {
  align-self: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.ps-bottom-header-m, .ps-bottom-header-w, .standings-bottom-header-m, .standings-bottom-header-w {
  align-self: flex-end;
  font-style: italic;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.ps-bottom-header-m, .ps-bottom-header-w, .standings-top-header-m, .standings-top-header-w {
  font-weight: 700;
}

.ps-top-header-m, .ps-bottom-header-m, .standings-top-header-m, .standings-bottom-header-m {
  background-image: linear-gradient(transparent 50%, rgb(244, 14, 57) 50%);
}

.ps-top-header-w, .ps-bottom-header-w {
  background-image: linear-gradient(transparent 50%, rgb(35, 203, 246) 50%);
}

.school img {
  display: block;
  margin: auto;
}

.col-md-4 img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.col-sm-4 h3 {
  text-align: center;
}

.col-sm-4 p {
  text-align: center;
  font-size: 16px;
}

.section-divider h1 {
  text-align: center;
}

.section-divider {
  padding-top: 100px;
}

.icon {
  color: white;
  height: 50px;
  width: 50px;
  font-size: 28px;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 40px;
}

.mens {
  background-color: blue;
}

.womens {
  background-color: red;
}

.overlapped {
  position: absolute;
  top: -25px;
}

.mens.overlapped {
  left: 10px;
}

.womens.overlapped {
  right: 10px;
}

.standings-img {
  background-color: #c9ddff;
}

.polls {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.polls-row {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgb(244, 248, 251) 50%, transparent 50%);
  justify-content: space-between;
  margin-bottom: 10px;
}

.polls-rank-m, .polls-rank-w {
  font-size: 26px;
  font-weight: 700;
  margin-right: 10px;
}

.polls-rank-m {
  background-image: linear-gradient(transparent 50%, rgb(244, 14, 57) 50%);
}

.polls-rank-w {
  background-image: linear-gradient(transparent 50%, rgb(35, 203, 246) 50%);
}

.polls-text {
  font-size: 22px;
  font-weight: 600;
}

.left-row {
  display: flex;
  align-items: baseline;
}

.polls-num {
  font-style: italic;
  font-size: 20px;
  margin-right: 0;
}

.polls-note {
  text-transform: none;
  margin-right: -15px;
  color: rgb(106, 112, 116);
  text-transform: none;
  text-align: right;
  font-style: italic;
}

.accent, .accent-w {
  color: white;
  background-color: rgb(198, 202, 203);
  text-transform: uppercase;
  /* padding-left: 50px;
  padding-right: 50px; */
}

.accent-w {
  color: rgb(87, 88, 90);
}

.standings-bottom-header-m, .standings-bottom-header-w {
  font-weight: lighter;
  font-size: 24px;
}

.standings-top-header-w {
  font-weight: 700;
}

.standings-top-header-w, .standings-bottom-header-w {
  background-image: linear-gradient(transparent 50%, rgb(226, 244, 250) 50%);
}

.standings-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.standings-rank-m, .standings-rank-w {
  font-size: 28px;
  font-weight: 900;
  margin-left: 10px;
  margin-right: 10px;
  font-style: italic;
}

.standings-rank-m {
  color: rgb(244, 14, 57);
}

.standings-rank-w {
  color: rgb(226, 244, 250);
}

.standings-text {
  font-size: 24px;
  font-weight: 600;
}

.standings-num-m, .standings-num-w {
  font-size: 16px;
  margin-right: 0;
  font-weight: 800;
  transform: skewX(-45deg);
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.standings-num-m {
  background-color: white;
  color: rgb(244, 14, 57);
}

.standings-num-w {
  background-color: rgb(87, 88, 90);
  color: rgb(198, 202, 203);
}

.standings-num-m-text, .standings-num-w-text{
  transform: skewX(45deg);
}

.right {
  text-align: right;
}

.polls .col-6 {
 padding-top: 10px;
}

.media-poll {
  padding: 15px;
}

.article-title {
  padding: 10px 15px;
  color: #FFF;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
}

.article {
  display: flex;
  align-items: flex-end;
  position: relative;
  background-position: center;
  background-size: cover;
  height: 300px;
}

.featured {
  margin-top: 40px;
  margin-bottom: 40px;
}

.table-of-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-top: 105px;
  padding-bottom: 50px;
}

.spacer {
  flex: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 18px;
  border-left: 2px solid rgb(48, 100, 125);
}

.toc-item {
  flex: 0;
}

.toc-item h6 {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
}

.circle {
  background-color: rgb(48, 100, 125);
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  padding-top: 5px;
  margin-right: 10px;
}

.feature-container {
  position: relative;
  margin-bottom: 50px;
}

.feature-image {
  width: 80%;
  height: auto;
}

.headline {
  max-width: 50%;
  position: absolute;
  right: 15px;
  bottom: -50px;
  padding: 30px;
}

.mobile-only {
  display: none;
}

.light-blue {
  background-color: rgb(228,243,249);
}

.sky-blue {
  background-color: rgb(88, 176, 230);
}

.dusky-blue {
  background-color: rgb(48, 100, 125);
}

.medium-grey {
  background-color: rgb(225, 230, 233);
}

.a1 {
  background-image: url("https://snworksceo.imgix.net/dpn/5df06523-d5fa-4d5b-b8e1-caae00478159.sized-1000x1000.jpg?w=1000");
}
.a2 {
  background-image: url("https://snworksceo.imgix.net/dpn/11af8dd2-4216-4fe6-9013-4633a55e68fe.sized-1000x1000.jpg?w=1000");
}
.a3 {
  background-image: url("https://snworksceo.imgix.net/dpn/360d5cb5-a3be-4841-8a5a-2a12c775f2a8.sized-1000x1000.jpg");
}
.a4 {
  background-image: url("https://snworksceo.imgix.net/dpn/87279ee1-9b48-405e-b869-52fb020e9fef.sized-1000x1000.jpg");
}
.a5 {
  background-image: url("https://snworksceo.imgix.net/dpn/eea1175c-326f-4867-8a07-c251092ed055.sized-1000x1000.jpg");
}
.a6 {
  background-image: url("https://snworksceo.imgix.net/dpn/360d5cb5-a3be-4841-8a5a-2a12c775f2a8.sized-1000x1000.jpg");
}

@media screen and (min-width: 768px) {
  .poll-offset {
    margin-left: 5.55555556%;
    margin-right: 5.55555556%;
  }
}

@media screen and (max-width: 992px) {
  .mobile-only {
    display: block;
  }

  .toc-wrapper {
    display: none;
  }

  .table-of-contents {
    display: none;
  }

  .ps-header-div {
    font-size: x-large;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 100%;
  }

  .feature-container {
    margin-bottom: 0;
  }

  .feature-image {
    width: 100%;
  }

  .headline {
    position: static;
    max-width: 100%;
    width: 100%;
  }

  .poll-offset {
    margin-bottom: 20px;
  }

  .article {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .school img {
    max-width: 50%;
  }
}
