@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:500,900');

body {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-style: normal;
}

h2 {
  margin-bottom: 50px;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

h6 {
  color: rgb(48, 100, 125);
  font-size: 0.8rem;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

a:hover h5 {
  color: rgb(228,243,249);
}

.custom-col-1, .custom-col-9 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.content {
  padding-left: 0;
  padding-right: 0;
}

.toc-wrapper {
  display: flex;
  justify-content: center;
}

.section-divider {
  padding-top: 100px;
}

.section {
  padding-bottom: 100px;
}

.header {
  width: 75%;
  margin: auto;
  text-align: center;
}

.header-img {
  margin-top: 55px;
}

.header-title {
  display: inline-block;
  background-image: linear-gradient(transparent 70%, rgb(244, 14, 57) 70%);
  background-position: bottom 40px right 0px;
  font-size: 87px;
  color: #000;
}

.header-sub-title {
  margin-top: -35px;
  font-size: 80px;
  color: #000;
}

.title {
  margin-top: 50px;
}

.polls .col-md-5 {
  background-color: rgb(225, 230, 233);
  margin: 5px;
}

.intro {
  width: 50%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.ad-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ad {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

.polls-container {
  padding-bottom: 100px;
}

.poll-wrapper {
  text-transform: uppercase;
  font-style: normal;
}

.ps-header-div, .standings-header-div {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  margin-bottom: 10px
}

.ps-top-header-m, .ps-top-header-w, .standings-top-header-m, .standings-top-header-w {
  align-self: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.ps-bottom-header-m, .ps-bottom-header-w, .standings-bottom-header-m, .standings-bottom-header-w {
  align-self: flex-end;
  font-style: italic;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.ps-bottom-header-m, .ps-bottom-header-w, .standings-top-header-m, .standings-top-header-w {
  font-weight: 700;
}

.ps-top-header-m, .ps-bottom-header-m, .standings-top-header-m, .standings-bottom-header-m {
  background-image: linear-gradient(transparent 50%, rgb(244, 14, 57) 50%);
}

.ps-top-header-w, .ps-bottom-header-w {
  background-image: linear-gradient(transparent 50%, rgb(35, 203, 246) 50%);
}

.school img {
  display: block;
  margin: auto;
}

.col-md-4 img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.col-sm-4 h3 {
  text-align: center;
}

.col-sm-4 p {
  text-align: center;
  font-size: 16px;
}

.polls {
  display: flex;
  justify-content: space-evenly;
}

.polls-row {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgb(244, 248, 251) 50%, transparent 50%);
  justify-content: space-between;
  margin-bottom: 10px;
}

.polls-rank-m, .polls-rank-w {
  font-size: 26px;
  font-weight: 700;
  margin-right: 10px;
}

.polls-rank-m {
  background-image: linear-gradient(transparent 50%, rgb(244, 14, 57) 50%);
}

.polls-rank-w {
  background-image: linear-gradient(transparent 50%, rgb(35, 203, 246) 50%);
}

.polls-text {
  font-size: 22px;
  font-weight: 600;
}

.left-row {
  display: flex;
  align-items: baseline;
}

.media-poll .left-row {
  margin-left: -15px;
}

.polls-num {
  font-style: italic;
  font-size: 20px;
  margin-right: -15px;
}

.polls-note {
  text-transform: none;
  margin-right: -15px;
  color: rgb(106, 112, 116);
  text-transform: none;
  text-align: right;
  font-style: italic;
}

.accent, .accent-w {
  color: #FFF;
  text-transform: uppercase;
  padding: 15px;
}

.accent-w {
  color: #000;
}

.standings-bottom-header-m, .standings-bottom-header-w {
  font-size: 24px;
}

.standings-top-header-w {
  font-weight: 700;
}

.standings-top-header-w, .standings-bottom-header-w {
  background-image: linear-gradient(transparent 50%, rgb(35, 203, 246) 50%);
}

.standings-row {
  align-items: center;
}

.standings-rank-m, .standings-rank-w {
  font-size: 28px;
  font-weight: 900;
  margin-right: 10px;
  font-style: italic;
}

.standings-rank-m {
  color: rgb(244, 14, 57);
}

.standings-rank-w {
  color: rgb(35, 203, 246);
}

.margin-r-13 {
  margin-right: 13px;
}

.margin-r-15 {
  margin-right: 15px;
}

.standings-text {
  font-size: 24px;
  font-weight: 600;
}

.standings-num-m, .standings-num-w {
  height: 24px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  transform: skewX(-45deg);
  display: flex;
  justify-content: center;
}

.standings-num-m {
  background-color: #FFF;
  color: rgb(244, 14, 57);
}

.standings-num-w {
  background-color: #000;
  color: rgb(198, 202, 203);
}

.standings-num-m-text, .standings-num-w-text {
  transform: skewX(45deg);
}

.key-games {
  color: #FFF;
}

.games {
  background-color: rgb(48, 53, 56);
  text-transform: uppercase;
}

.games-top-header-m, .games-top-header-w {
  font-size: 26px;
  color: #FFF;
}

.games-bottom-header-m, .games-bottom-header-w {
  font-size: 26px;
  color: #FFF;
  font-style: italic;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.games-bottom-header-m div {
  background-image: linear-gradient(transparent 50%, rgb(230, 62, 62) 50%);
  padding-left: 5px;
  padding-right: 2px;
}

.games-bottom-header-w div {
  background-image: linear-gradient(transparent 50%, rgb(49, 188, 235) 50%);
  padding-left: 5px;
  padding-right: 2px;
}

.m-header, .w-header {
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 2px;
}

.m-header {
  background-image: linear-gradient(transparent 50%, rgb(230, 64, 63) 50%);
}

.w-header {
  background-image: linear-gradient(transparent 50%, rgb(49, 188, 235) 50%);
}

.logo {
  width: 30%;
}

.logo img {
  width: 100%;
}

.logo-right {
  position: absolute;
  right: 0;
}

.game-row {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.game-info, .game-info-left {
  display: flex;
  background-color: #FFF;
  border: 2px solid #000;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.game-info {
  position: absolute;
}

.game-info-left {
  margin-top: 25px;
  margin-bottom: 25px;
  position: static;
  z-index: 10;
}

.info-right {
  right: 0;
}

.game-icon {
  color: rgb(244, 14, 57);
}

.game-icon-w {
  color: rgb(49, 188, 235);
}

.info-group {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

.date {
  font-size: 16px;
}

.game-info-left .date {
  margin-left: 10px;
}

.game-info .date {
  margin-right: 10px;
}

.game-icon, .game-icon-w, .name {
  margin: 2px;
}

.right {
  text-align: right;
}

.polls .col-6 {
 padding-top: 10px;
}

.media-poll {
  padding: 15px;
}

.article-title {
  padding: 10px 15px;
  color: #FFF;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
}

.article {
  display: flex;
  align-items: flex-end;
  position: relative;
  background-position: center;
  background-size: cover;
  height: 300px;
}

.featured {
  margin-top: 40px;
  margin-bottom: 40px;
}

.featured-top {
  margin-bottom: 40px;
}

.table-of-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-top: 105px;
  padding-bottom: 50px;
}

.spacer {
  flex: 1;
  margin: 15px auto;
  border-left: 2px solid rgb(48, 100, 125);
}

.toc-item {
  height: 64px;
  flex: 0;
  text-align: center;
}

.toc-item h6 {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  text-transform: uppercase;
}

.circle {
  background-color: rgb(48, 100, 125);
  width: 40px;
  height: 40px;
  margin: auto;
  padding-top: 9px;
  padding-left: 1px;
  border-radius: 50%;
}

.feature-container {
  position: relative;
  margin-bottom: 50px;
}

.feature-image {
  width: 80%;
  height: auto;
}

.box-left .feature-image {
  margin-left: 20%;
}

.headline {
  max-width: 50%;
  position: absolute;
  right: 15px;
  bottom: -50px;
  padding: 30px;
}

.box-left .headline {
  left: 15px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light-blue {
  background-color: rgb(228,243,249);
}

.dusky-blue {
  background-color: rgb(48, 100, 125);
}

.light-grey {
  background-color: rgb(225, 230, 233);
}

.medium-grey {
  background-color: rgb(198, 202, 203);
}

.dark-grey {
  background-color: rgb(48, 53, 56);
}

.a1 {
  background-image: url("https://snworksceo.imgix.net/dpn/313f6fd0-ab0a-462b-be16-2968e1d3fdd3.sized-1000x1000.jpg");
}
.a2 {
  background-image: url("https://snworksceo.imgix.net/dpn/2fb1b6c6-8d15-45d0-8249-5d6aae35f240.sized-1000x1000.jpg");
}
.a3 {
  background-image: url("https://snworksceo.imgix.net/dpn/0b1abf87-538f-4d14-951f-8c1a5e2ff257.sized-1000x1000.jpg");
}
.a4 {
  background-image: url("https://snworksceo.imgix.net/dpn/8c3adc27-2c54-46a6-9aef-bc4aef9e2bbe.sized-1000x1000.jpg");
}
.a5 {
  background-image: url("https://snworksceo.imgix.net/dpn/1d99dbc5-0ebb-4c3b-8a24-4ab5562ce398.sized-1000x1000.jpg");
}
.a6 {
  background-image: url("https://snworksceo.imgix.net/dpn/11e07ccf-3c95-4882-8c06-c6cbed88380d.sized-1000x1000.jpg");
}
.a7 {
  background-image: url("https://snworksceo.imgix.net/dpn/d4ac0182-bdd9-401a-85c3-f4de96b7ee46.sized-1000x1000.jpg");
}
.a8 {
  background-image: url("https://snworksceo.imgix.net/dpn/6abf5d6d-6a4a-417c-8278-d693e5a6883a.sized-1000x1000.jpg");
}
.a9 {
  background-image: url("https://snworksceo.imgix.net/dpn/662ea76c-9fe4-48b1-8c12-71bdbee50cbb.sized-1000x1000.jpg");
}
.a10 {
  background-image: url("https://snworksceo.imgix.net/dpn/d9ba91e0-8739-4e14-ad1f-f01c3060b231.sized-1000x1000.jpg");
}
.a11 {
  background-image: url("https://snworksceo.imgix.net/dpn/7633966e-cf6c-4fda-9c66-2aaca82ae9ff.sized-1000x1000.jpg");
}
.a12 {
  background-image: url("https://snworksceo.imgix.net/dpn/8e0aac7e-9561-40f5-aea3-c5242d86bf75.sized-1000x1000.jpg");
}

@media screen and (min-width: 992px) {
  .custom-col-1 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .custom-col-9 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .mobile-only {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .poll-offset {
    margin-left: 5.55555556%;
    margin-right: 5.55555556%;
  }
}

@media screen and (max-width: 992px) {
  .header-title {
    font-size: 70px;
    background-position: bottom 32px right 0;
  }

  .header-sub-title {
    margin-top: -30px;
    font-size: 64px;
  }

  .standings-bottom-header-m, .standings-bottom-header-w, .standings-text {
    font-size: 18px;
  }

  .standings-num-m, .standings-num-w {
    font-size: 13px;
    height: 19.5px;
  }

  .ps-header-div, .standings-header-div, .polls-text {
    font-size: 20px;
  }

  .polls-num {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    margin-top: 55px;
  }

  .intro, .header {
    width: 100%;
    padding-top: 20px;
  }

  .header-title {
    font-size: 70px;
  }

  .feature-container {
    margin-bottom: 0;
  }

  .feature-image {
    width: 100%;
  }

  .box-left .feature-image {
    margin-left: 0;
  }

  .headline {
    position: static;
    max-width: 100%;
    width: 100%;
  }

  .poll-offset {
    margin-bottom: 20px;
  }

  .polls-num {
    margin-right: -15px;
  }

  .article {
    margin-bottom: 20px;
  }

  .standings .col-md-6 {
    margin: 5px;
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .header-title {
    font-size: 40px;
    background-position: bottom 18px right 0;
  }

  .header-sub-title {
    margin-top: -20px;
    font-size: 37px;
  }

  .polls-num {
    margin-right: 10px;
  }
}
