@font-face {
    font-family: 'brandon-grotesque';
    src: url('../font/brandon_bld.woff2') format('woff2'),
         url('../font/brandon_bld.woff') format('woff'),
         url('../font/brandon_bld.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'brandon-grotesque';
    src: url('../font/brandon_light.woff2') format('woff2'),
         url('../font/brandon_light.woff') format('woff'),
         url('../font/brandon_light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'brandon-grotesque';
    src: url('../font/brandon_reg.woff2') format('woff2'),
         url('../font/brandon_reg.woff') format('woff'),
         url('../font/brandon_reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'brandon-grotesque';
    src: url('../font/brandon_thin.woff2') format('woff2'),
         url('../font/brandon_thin.woff') format('woff'),
         url('../font/brandon_thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

h2 {
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: #5d9e7e;
  letter-spacing: 8px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 15px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  color: #5d9e7e;
  letter-spacing: 4px;
  padding: 15px;
}

body {
  font-family: 'brandon-grotesque', helvetica, sans-serif;
}
tbody>tr>th {
  color: #b8b7b7;
  font-weight: 200;
}
th:not(.name):not(.value) {
  text-align: center;
}
.table>tbody>tr {
  border-bottom: none;
  border-top: none;
}
td:not(.name):not(.value) {
  padding: 22px;
  text-align: center;
  color: #888888;
  position: relative;
  font-size: 22px;
  line-height: .9;
  border-right: 1px solid #888;
}

td:last-of-type, td.no-border {
  border-right: none !important;
}
td small {
  position: relative;
  font-size: 14px;
}

p {
  font-size: 16px;
}

em {
  font-weight: 600
}
span.light {
  color: #888888;
}
nav img {
  padding-top: 12px;
}
a {
  color: #5d9e7e;
}
a:hover {
  color: #9dbda9;
}
large {
  font-size: 36px;
  font-weight: 600;
}

large {
  color: #5d9e7e;
}

large.light {
  color: #9dbda9;
}
.c3 text {
  font-family: 'brandon-grotesque', helvetica, sans-serif;
  font-size: 120%;
}
.container:first-of-type {
  padding-top: 70px;
}
.brown-bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),  url(https://s3.amazonaws.com/media.dpn/55994_across_ivy_109t.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cornell-bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),  url(https://s3.amazonaws.com/media.dpn/55992_across_ivy_102t.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.columbia-bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),  url(https://s3.amazonaws.com/media.dpn/55993_across_ivy_103t.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dartmouth-bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),  url(https://s3.amazonaws.com/media.dpn/55997_across_ivy_104t.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.harvard-bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),  url(https://s3.amazonaws.com/media.dpn/55991_across_ivy_105t.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.penn-bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),  url(https://s3.amazonaws.com/media.dpn/55998_across_ivy_106t.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.princeton-bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),  url(https://s3.amazonaws.com/media.dpn/55995_across_ivy_107t.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.yale-bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),  url(https://s3.amazonaws.com/media.dpn/55996_across_ivy_108t.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* ai2html  */

.g-artboard {
  margin:0 auto;
}

#g-SRFS-Packet-Artboard_1{
  position:relative;
  overflow:hidden;
}
.g-aiAbs{
  position:absolute;
}
.g-aiImg{
  display:block;
  width:100% !important;
}
#g-SRFS-Packet-Artboard_1 p{
  font-family: 'brandon-grotesque', helvetica, sans-serif;
  font-size:10px;
  line-height:18px;
  margin:0;
}
#g-SRFS-Packet-Artboard_1 .g-aiPstyle0 {
  font-size:16px;
  line-height:37px;
  text-align:center;
  color:#4d4d4d;
}
#g-SRFS-Packet-Artboard_1 .g-aiPstyle1 {
  font-size:16px;
  line-height:23px;
  text-align:center;
  color:#4d4d4d;
}
#g-SRFS-Packet-Artboard_1 .g-aiPstyle2 {
  font-size:20px;
  line-height:37px;
  text-align:center;
  color:#ffffff;
}
#g-SRFS-Packet-Artboard_1 .g-aiPstyle3 {
  font-size:16px;
  text-align:center;
  color:#ffffff;
}
#g-SRFS-Packet-Artboard_1 .g-aiPstyle4 {
  font-size:40px;
  color:#ffffff;
}
#g-SRFS-Packet-Artboard_1 .g-aiPstyle5 {
  font-size:40px;
  color:#ffffff;
}
#g-SRFS-Packet-Artboard_1 .g-aiPstyle6 {
  font-size:20px;
  text-align:center;
  color:#4d4d4d;
}
.g-aiPtransformed p { white-space: nowrap; }

/*sfrs bar chart*/
#g-SRFS-Packet-Median_Aid_Package{
  position:relative;
}
.g-aiAbs{
  position:absolute;
}
.g-aiImg{
  display:block;
  width:100% !important;
}
#g-SRFS-Packet-Median_Aid_Package p{
  font-family: 'brandon-grotesque', helvetica, sans-serif;
  font-size:10px;
  line-height:18px;
  margin:0;
}
#g-SRFS-Packet-Median_Aid_Package .g-aiPstyle0 {
  font-size:20px;
  line-height:32px;
  color:#4d4d4d;
}
#g-SRFS-Packet-Median_Aid_Package .g-aiPstyle1 {
  font-size:20px;
  line-height:29px;
  color:#4d4d4d;
}
#g-SRFS-Packet-Median_Aid_Package .g-aiPstyle2 {
  font-size:20px;
  line-height:29px;
  text-align:right;
  color:#4d4d4d;
}
#g-SRFS-Packet-Median_Aid_Package .g-aiPstyle3 {
  font-size:18px;
  line-height:22px;
  color:#5d5d5d;
}
.g-aiPtransformed p { white-space: nowrap; }

.stats .col-sm-6 {
  padding-top: 15px;
}

@media screen and (max-width: 767px) {
  td:not(.name):not(.value) {
    /*border: 2px solid transparent;*/
    padding: 3px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
#g-SRFS-Packet-Median_Aid_Package [class*="g-aiPstyl"] {
    font-size: 70%;
  }

  #g-SRFS-Packet-Artboard_1 [class*="g-aiPstyle"] {
    font-size: 70%;
  }
  .col-sm-4.text-right, .col-sm-4.text-left, .col-sm-2.text-left {
    text-align: center;
  }
}
