@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|Work+Sans:400,500,600&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    cursor: default;
}

a {
    cursor: pointer;
}

.navbar {
    background-color: #293C72;
}

.dom-visual {
    height: auto;
    background-image: url('https://s3.amazonaws.com/snwceomedia/dpn/db1557f6-0d25-470e-95f0-8d9482c08691.original.svg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 55.25%;
}

h1, h2 {
    font-family: 'Old Standard TT', serif;
}

.navbar {
    background-color: #798FDB;
    justify-content: center;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-primary {
    background-color: #FFF9EB;
}

.section-primary .section-header {
    border-bottom-color: #FFC871;
    color: #798FDB;
}

.section-primary .readmore-btn, .content-row .readmore-btn {
    color: #293C72;
    background-color: #FFC871;
    transition: all 0.3s;
    font-weight: 500;
}

.content-row .readmore-btn {
    margin-left: 0;
    margin-right: 0 ;
}

.crime .readmore-btn {
    color: #ffffff;
    background-color: #7FCEEA;
    transition: all 0.3s;
    font-weight: 500;
}

.crime .readmore-btn:hover {
    background-color: #36B2CE;
}

.section-primary .readmore-btn:hover, .content-row .readmore-btn:hover {
    color: #091930;
    background-color: #F2A43D;
}

.section-alternate {

}

.section-alternate .section-header {
    border-bottom-color: #7FCEEA;
    color: #3D5891;
}

.section-top {
    text-align: center;
}

.section-header {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    display: inline;
}

.coral-text {
    color: #F47362;
}

.sky-text {
    color: #7FCEEA;
}

.iris-text {
    color: #798FDB;
    transition: all 0.3s;
}

/* .iris-text:hover {
    color: #B3C1E8;
} */

.dark-text {
    color: #333333;
}

.hg-card-row {
    margin-top: 50px;
}

.hg-card, .hg-image-card, .hg-opinion-card {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-bottom: 30px;
    /* height: 100%; */
}
  

.hg-card, .hg-opinion-card {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.hg-opinion-card {
    margin-bottom: 20px;
}

.text-container {
    padding: 0px 40px 20px;
}

.hg-card h2, .hg-image-card h2 {
    color: #293C72;
    font-size: 24px;
    margin-top: 30px;
    cursor: default;
    transition: all 0.3s;
}

.hg-opinion-card h2, .content-row h2 {
    color: #293C72;
    font-size: 24px;
    cursor: default;
    transition: all 0.3s;
}

.hg-card h2:hover, .hg-image-card h2:hover, .hg-opinion-card h2:hover, .content-row h1:hover {
    color: #597EB2;
    cursor: pointer;
}

.hg-card p, .hg-image-card p, .hg-opinion-card p {
    font-size: 14px;
}

.top-badge {
    font-weight: 600;
}

.hg-card:hover, .hg-image-card:hover, .hg-opinion-card:hover{
    -webkit-transform:scale(1.0125);
    -moz-transform:scale(1.0125);
    -ms-transform:scale(1.0125);
    -o-transform:scale(1.0125);
     transform:scale(1.0125);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .17);
}

.hg-card-circle-img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.hg-opinion-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hg-opinion-img p {
    margin-bottom: 0px;
    margin-left: 10px;
}

.opinion-img {
    height: 60px;
    width: 60px;
    background-color: #f9f9f9;
    float: left;
    border: 5px solid white;
    box-shadow: 0 0 0 1px #ffc871;
    border-radius: 50%;
    background-size: cover;
    background-position: top;
    flex-shrink: 0;
}

.hg-card-img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.readmore-btn {
    margin-left: auto;
    margin-right: auto;
    padding: 9px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.readmore-btn:hover {
    text-decoration: none;
}

.embed-container { 
    position: relative;
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 90%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.video-description {
    max-width: 90%;
    margin: 30px auto 0px;
}

.content-row {
    margin-top: 50px;
}

.content-row .col-md-8 {
    padding-left: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.content-row h1 {
    color: #293C72;
    font-size: 36px;
    margin-top: 15px;
    cursor: default;
    transition: all 0.3s;
}

.street-img {
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.crime-img {
    margin-top: 60px;
    margin-right: 200px;
    margin-bottom: 100px;
    background-image: url("https://snworksceo.imgix.net/dpn/897c5d64-848b-4525-9fd5-94fa4c8b0646.sized-1000x1000.png?");
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-end;
}

.crime img {
    /* display: none; */
}

.crime .content-row {
    display: none;
}

.crime-card {
    width: 40%;
    margin-left: auto;
    margin-right: -150px;
    margin-bottom: -100px;
    text-align: initial;
}

footer {
    padding: 20px 0px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

@media screen and (min-width: 1550px) {
    .dom-visual {
        padding-bottom: 0;
        height: 810px;
        background-size: auto;
    }
}

@media screen and (max-width: 768px) {
    .crime-img {
        display: none;
    }

    .crime .content-row {
        display: inherit;
    }

    .content-row .col-md-8 {
        padding-left: 15px;
        text-align: initial;
    }

    .dom-visual {
        background-image: url("https://snworksceo.imgix.net/dpn/ddf70cad-d7be-44cc-a408-8b8bba87f316.sized-1000x1000.png?");
        padding-bottom: 90vh;
    }

    .center {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}