body {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Handlee', cursive;
  font-size: 8rem;
}

.calendar-item {
  color: #fff;
  margin-bottom: 15px;
  overflow-y: hidden;
}

.calendar-item:nth-child(1) { background-color: rgb(239, 200, 198); }
.calendar-item:nth-child(3) { background-color: rgb(179, 106, 148); }
.calendar-item:nth-child(2) { background-color: rgb(179, 106, 148); }
.calendar-item:nth-child(4) { background-color: rgb(168, 208, 237); }
.calendar-item:nth-child(5) { background-color: rgb(216, 236, 249); }
.calendar-item:nth-child(6) { background-color: rgb(124, 97, 157); }

[class*="col"] {
  height: 300px;
}

.inner-content {
  position: relative;
  top: 25%;
  margin-top: -25px;
}

.date {
  font-size: 200px;
  font-weight: 600;
}

.date span {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  height: auto;
  margin-bottom: -50px;
}

.content {
  visibility: hidden;
  transition: all 600ms ease-in-out;
  opacity: 0;
  margin-top: -25px;
  top: 50%;
  position: relative;
}

.dark {
  color: rgb(24, 14, 59);
}

h2 {
  position: relative;
  margin-top: -50px;
  padding-bottom: 25px;
  top: 50%;
  transition: all 600ms ease-in-out;
}

.title-block:hover h2,
.title-block:active h2 {
  font-size: 6rem;
  margin-top: -120px;
}

.title-block:hover .content,
.title-block:active .content {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 769px) {
  h2 {
    font-size: 6rem;
  }

  .date {
    font-size: 140px;
  }

  .calendar-item {
    height: 500px;
  }

  [class*="col"] {
    height: 230px;
  }

  .inner-content {
    margin-top: -20px;
  }
}
