body {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Handlee', cursive;
  font-size: 8rem;
}

.calendar-item {
  background-color: #aa1e22;
  color: #fff;
  margin-bottom: 15px;
}

[class*="col"] {
  height: 300px;
}

.inner-content {
  position: relative;
  top: 25%;
  margin-top: -25px;
}

.date {
  font-size: 200px;
  font-weight: 600;
}

.date span {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  height: auto;
  margin-bottom: -50px;
}

.content {
  visibility: hidden;
  transition: all 600ms ease-in-out;
  opacity: 0;
  margin-top: -25px;
  top: 50%;
  position: relative;
}

h2 {
  position: relative;
  margin-top: -50px;
  padding-bottom: 25px;
  top: 50%;
  transition: all 600ms ease-in-out;
}

.title-block:hover h2 {
  font-size: 6rem;
  margin-top: -120px;
}

.title-block:hover .content {
  opacity: 1;
  visibility: visible;
}
