@import url("https://use.typekit.net/kua0mek.css");

body {
  font-size: 1em;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'rama-gothic-m';
  font-weight: 400;
  margin: 0;
}

p {
  font-family: 'minion-pro';
  font-weight: 400;
}

h1 {
  margin-bottom: 10px;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 10px;
}

a.inline {
  display: inline-block;
}

a:hover {
  color: #AAA;
}

a:last-of-type {
  margin-bottom: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #000;
}

section {
  min-height: 100vh;
  height: auto;
  padding: 50px;
}

section.intro {
  display: flex;
  justify-content: center;
  background-image: url('https://snworksceo.imgix.net/dpn/cc3e689c-1fdc-4032-993c-d29ec8cf1e89.sized-1000x1000.jpg');
  background-color: #011F5B;
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 150px);
}

section.team {
  background: url('https://s3.amazonaws.com/snwceomedia/dpn/f5360b8d-c2c2-4310-9d7c-46913b65ac2d.sized-1000x1000.jpg');
  background-color: #700000;
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  padding: 0;
}

section.team a, section.moment a {
  color: #AAA;
}

section.team a:hover, section.moment a:hover {
  color: #888;
}

section.individual {
  background-image: url('https://s3.amazonaws.com/snwceomedia/dpn/3211d02f-bad8-499c-a3f3-d499c2f44732.sized-1000x1000.jpg');
  background-color: #001849;
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  color: #FFF;
}

section.individual a {
  color: #AA1E22;
}

section.individual a:hover {
  color: #777;
}

section.moment {
  background: url('https://s3.amazonaws.com/snwceomedia/dpn/aa67d926-729c-46f0-9667-859e11ca195e.sized-1000x1000.jpg');
  background-color: #700000;
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  padding: 0;
}

.logo {
  margin-top: 5px;
}

.intro-text {
  color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.eotya {
  margin-top: 40px;
  font-size: 100px;
}

.section {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.awards {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.awards span {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

section.individual .awards {
  flex-wrap: wrap;
}

section.individual .awards span {
  width: 33%;
}

.award-types {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.award-types h2 {
  flex-grow: 1;
  margin-bottom: 10px;
}

.footer {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer span {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.team-tab, .ind-tab, .moment-tab {
  cursor: pointer;
}

.team-text, .ind-text, .moment-text {
  display: none;
  margin: auto;
  height: 0;
  width: 90%;
}

.intro p {
  font-size: 150%;
  width: 50%;
  margin: auto;
}

.team-text.active, .ind-text.active, .moment-text.active {
  display: block;
  height: auto;
}

.team-text.active p, .ind-text.active p, .moment-text.active p {
  margin: 0;
  margin-bottom: 1em;
  height: auto;
}

.team-tab.active {
  font-weight: 700;
  border-bottom: 3px solid #FFF;
}

.ind-tab.active {
  font-weight: 700;
  border-bottom: 3px solid #FFF;
}

.moment-tab.active {
  font-weight: 700;
  border-bottom: 3px solid #FFF;
}

.award-title {
  text-align: center;
  font-weight: 600;
  font-size: 65px;
}

.award-image {
  width: 50%;
}

.award-image img {
  width: 100%;
}

.award-desc {
  width: 50%;
  margin-left: 30px;
}

.award-flex {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.type {
  background-color: #FFF;
  color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 80px;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .intro p {
    width: 100%;
    font-size: 110%;
  }

  .award-flex {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .award-image, .award-desc {
    width: 100%;
    margin-left: 0;
  }

  section.individual .awards span {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  section {
    min-height: calc(100vh - 40px);
    height: auto;
  }

  section.intro {
    min-height: calc(100vh - 90px);
  }

  .intro p {
    margin: 40px auto;
  }

  .intro {
    padding: 20px;
  }

  .award-types, .awards {
    flex-direction: column;
  }

  .awards span {
    width: 100%;
  }

  section.individual .awards span {
    width: 100%;
  }

  .footer {
    flex-direction: column;
  }

  .footer span:first-of-type {
    margin-bottom: 0;
  }
}
