body {
  font-family: 'Avenir Next'
}

.container {
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.legend {
  background-color: #aba9a9ad;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.legend-bubble {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border-width: 1.5px;
  border-style: solid;
  margin-right: 8px;
}

.legend-pair {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.divider {
  display: flex;
  align-items: center;
}

.title {
  font-size: 15px;
  background-color: #aba9a9;
  color: white;
  border-radius: 20px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  margin-right: 3px;
}

.position-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hline {
  background-color: #aba9a9;
  height: 1px;
  width: -webkit-fill-available;
}

.inner-bubble {
  border-radius: 50%;
  width: 59px;
  height: 59px;
  border: solid 2px white;
}

.outer-bubble {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  border: solid 2px black;
  margin-right: 10px;
}

.bubble-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.identifier {
  display: flex;
  align-items: baseline;
}

.ret-color {
  border-color: purple;
}

.new-role-color {
  border-color: orange;
}

.stepped-down-color {
  border-color: green;
}

.interim-color {
  border-color: blue;
}

.new-pos-color{
  border-color: red;
}

.mobile-header {
  display: none;
}

.name {
  display: flex;
  flex-direction: column;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}


@media only screen and (max-width: 576px) {
  .header {
    display: none;
  }

  .mobile-header {
    display: inline;
    font-style: italic;
    color: #aba9a9;
  }

  .identifier {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}