.version.index /* version checker */
{
	color: #000018;
	background-color: #77964F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.9749512670569px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -116px;
}

#pu176
{
	width: 0.01px;
	margin-left: -100px;
}

#u176
{
	z-index: 2;
	min-height: 806px;
}

#u176-bw
{
	z-index: 2;
	min-height: 806px;
	margin-top: 80px;
	height: 806px;
}

#u247
{
	z-index: 3;
}

#u247_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 147px;
	padding-bottom: 107px;
}

#u491-4
{
	z-index: 59;
	left: 196px;
}

#u486-11
{
	z-index: 4;
	width: 792px;
	min-height: 175px;
	left: 198px;
	margin-top: 24px;
}

#u487-10
{
	z-index: 15;
	width: 792px;
	min-height: 83px;
	left: 198px;
	margin-top: 43px;
}

#u488-4
{
	z-index: 25;
	width: 792px;
	min-height: 19px;
	left: 198px;
	margin-top: 23px;
}

#pu489-15
{
	width: 0.01px;
	left: 198px;
	margin-top: 9px;
	position: relative;
}

#u489-15
{
	z-index: 29;
	width: 311px;
	min-height: 79px;
	margin-right: -10000px;
}

#u490-15
{
	z-index: 44;
	width: 311px;
	min-height: 79px;
	margin-right: -10000px;
	left: 435px;
}

#editorial
{
	left: 549px;
	margin-top: 35px;
}

#u247-bw
{
	z-index: 3;
	margin-top: 803px;
	height: 905px;
}

#u492-4
{
	z-index: 63;
	width: 280px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 921px;
	left: 197px;
}

#u193
{
	z-index: 157;
}

#u193_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 21px;
	padding-bottom: 15px;
}

#u254
{
	z-index: 173;
	width: 180px;
	min-height: 19px;
	left: 490px;
}

#pu196-4
{
	width: 0.01px;
	left: 345px;
	margin-top: 8px;
	position: relative;
}

#u196-4
{
	z-index: 158;
	width: 205px;
	margin-right: -10000px;
}

#u197-4
{
	z-index: 162;
	width: 211px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 246px;
}

#u193-bw
{
	z-index: 157;
	height: 105px;
}

#u194-4
{
	z-index: 81;
	width: 434px;
	min-height: 82px;
	margin-left: 263px;
	margin-top: 160px;
}

#pu81-4
{
	width: 0.01px;
	margin-left: 263px;
}

#u81-4
{
	z-index: 85;
	width: 63px;
	margin-right: -10000px;
}

#u310-4
{
	z-index: 145;
	width: 54px;
	margin-right: -10000px;
	left: 71px;
}

#u325-4
{
	z-index: 141;
	width: 70px;
	margin-right: -10000px;
	left: 134px;
}

#u87-4
{
	z-index: 101;
	width: 133px;
	margin-right: -10000px;
	left: 210px;
}

#u85-4
{
	z-index: 137;
	width: 70px;
	margin-right: -10000px;
	left: 351px;
}

#pu89-4
{
	width: 0.01px;
	margin-left: 216px;
	margin-top: 1px;
}

#u89-4
{
	z-index: 109;
	width: 76px;
	margin-right: -10000px;
	left: 155px;
}

#u90-4
{
	z-index: 133;
	width: 114px;
	margin-right: -10000px;
	left: 228px;
}

#u86-4
{
	z-index: 149;
	width: 70px;
	margin-right: -10000px;
}

#u88-4
{
	z-index: 93;
	width: 62px;
	margin-right: -10000px;
	left: 84px;
}

#u92-4
{
	z-index: 153;
	width: 176px;
	margin-right: -10000px;
	left: 344px;
}

#pu279
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 546px;
}

#u279
{
	z-index: 174;
	height: 672px;
}

#u279-bw
{
	z-index: 174;
	margin-top: 9px;
	height: 672px;
}

#newsreporting
{
	width: 22px;
	margin-right: -10000px;
	left: 560px;
}

#pu289
{
	width: 0.01px;
	padding-bottom: 372px;
	margin-top: -486px;
}

#u289
{
	z-index: 176;
	width: 389px;
	height: 372px;
	top: 2651px;
	left: 0px;
}

#u290-4
{
	z-index: 179;
	top: 2667px;
	left: 20px;
}

#u291-10
{
	z-index: 191;
	width: 350px;
	min-height: 296px;
	top: 2721px;
	left: 21px;
}

#copy
{
	margin-left: 480px;
	margin-top: 76px;
}

#u303
{
	z-index: 79;
	width: 794px;
	left: -19px;
	margin-top: 74px;
}

#pu300
{
	width: 0.01px;
	padding-bottom: 210px;
	margin-left: 590px;
	margin-top: -315px;
}

#u300
{
	z-index: 178;
	width: 389px;
	height: 210px;
	top: 3518px;
	left: 590px;
}

#u301-4
{
	z-index: 187;
	top: 3534px;
	left: 610px;
}

#u302-4
{
	z-index: 211;
	width: 350px;
	min-height: 140px;
	top: 3588px;
	left: 611px;
}

#sports
{
	margin-left: 480px;
	margin-top: 73px;
}

#u295
{
	z-index: 175;
	height: 599px;
}

#u295-bw
{
	z-index: 175;
	margin-top: 65px;
	height: 599px;
}

#pu296
{
	width: 0.01px;
	padding-bottom: 389px;
	margin-left: 28px;
	margin-top: -420px;
}

#u296
{
	z-index: 177;
	width: 389px;
	height: 389px;
	top: 4168px;
	left: 28px;
}

#u297-4
{
	z-index: 183;
	top: 4184px;
	left: 48px;
}

#u298-10
{
	z-index: 201;
	width: 350px;
	min-height: 296px;
	top: 4238px;
	left: 49px;
}

#socialmedia
{
	margin-left: 469px;
	margin-top: 134px;
}

#u318
{
	z-index: 77;
	width: 896px;
	left: -100px;
	margin-top: 88px;
}

#pu314
{
	width: 0.01px;
	padding-bottom: 366px;
	margin-left: 614px;
	margin-top: -406px;
}

#u314
{
	z-index: 218;
	width: 389px;
	height: 366px;
	top: 4898px;
	left: 614px;
}

#u315-4
{
	z-index: 219;
	top: 4914px;
	left: 634px;
}

#u316-10
{
	z-index: 223;
	width: 350px;
	min-height: 140px;
	top: 4968px;
	left: 635px;
}

#photo
{
	margin-left: 469px;
	margin-top: 114px;
}

#u326
{
	z-index: 234;
	height: 682px;
}

#u326-bw
{
	z-index: 234;
	margin-top: 42px;
	height: 682px;
}

#pu327
{
	width: 0.01px;
	padding-bottom: 510px;
	margin-left: -2px;
	margin-top: -569px;
}

#u327
{
	z-index: 236;
	width: 389px;
	height: 510px;
	top: 5591px;
	left: -2px;
}

#u328-4
{
	z-index: 237;
	top: 5607px;
	left: 18px;
}

#u329-14
{
	z-index: 241;
	width: 350px;
	min-height: 296px;
	top: 5661px;
	left: 19px;
}

#design
{
	margin-left: 475px;
	margin-top: 162px;
}

#u338
{
	z-index: 235;
	height: 666px;
}

#u338-bw
{
	z-index: 235;
	margin-top: 76px;
	height: 666px;
}

#pu334
{
	width: 0.01px;
	padding-bottom: 310px;
	margin-left: 642px;
	margin-top: -566px;
}

#u334
{
	z-index: 256;
	width: 389px;
	height: 310px;
	top: 6516px;
	left: 642px;
}

#u335-4
{
	z-index: 257;
	top: 6532px;
	left: 662px;
}

#u336-8
{
	z-index: 261;
	width: 350px;
	min-height: 229px;
	top: 6586px;
	left: 663px;
}

#video
{
	margin-left: 469px;
	margin-top: 67px;
}

#u446-4
{
	z-index: 403;
	margin-left: 238px;
	margin-top: 220px;
}

#u447-7
{
	z-index: 407;
	width: 493px;
	min-height: 136px;
	margin-left: 233px;
	margin-top: 12px;
}

#web
{
	margin-left: 491px;
	margin-top: 274px;
}

#u340
{
	z-index: 270;
	height: 666px;
}

#u340-bw
{
	z-index: 270;
	margin-top: 85px;
	height: 666px;
}

#pu341
{
	width: 0.01px;
	padding-bottom: 371px;
	margin-left: -2px;
	margin-top: -596px;
}

#u341
{
	z-index: 272;
	width: 389px;
	height: 371px;
	top: 8088px;
	left: -2px;
}

#u342-4
{
	z-index: 274;
	top: 8104px;
	left: 17px;
}

#u343-7
{
	z-index: 282;
	width: 350px;
	min-height: 282px;
	top: 8159px;
	left: 19px;
}

#street
{
	margin-left: 469px;
	margin-top: 30px;
}

#u345
{
	z-index: 313;
	height: 666px;
}

#u345-bw
{
	z-index: 313;
	margin-top: 97px;
	height: 666px;
}

#pu346
{
	width: 0.01px;
	padding-bottom: 372px;
	margin-left: 586px;
	margin-top: -566px;
}

#u346
{
	z-index: 314;
	width: 389px;
	height: 372px;
	top: 8929px;
	left: 586px;
}

#u347-4
{
	z-index: 315;
	top: 8945px;
	left: 606px;
}

#u348-7
{
	z-index: 319;
	width: 350px;
	min-height: 229px;
	top: 8999px;
	left: 607px;
}

#anchor-u355
{
	margin-left: 469px;
	margin-top: 145px;
}

#u350
{
	z-index: 271;
	height: 715px;
}

#u350-bw
{
	z-index: 271;
	margin-top: 2px;
	height: 715px;
}

#pu353
{
	width: 0.01px;
	padding-bottom: 513px;
	margin-top: -608px;
}

#u353
{
	z-index: 273;
	width: 658px;
	height: 513px;
	top: 9768px;
	left: 0px;
}

#u351-4
{
	z-index: 278;
	top: 9786px;
	left: 20px;
}

#u354-23
{
	z-index: 289;
	width: 601px;
	min-height: 282px;
	top: 9841px;
	left: 21px;
}

#business
{
	margin-left: 469px;
	margin-top: 150px;
}

#u200-4
{
	z-index: 167;
	margin-left: 263px;
	margin-top: 151px;
}

#pu93-4
{
	width: 0.01px;
	margin-left: 219px;
	margin-top: 60px;
}

#u93-4
{
	z-index: 97;
	width: 141px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u94-4
{
	z-index: 89;
	width: 104px;
	margin-right: -10000px;
	left: 425px;
}

#u95-4
{
	z-index: 105;
	width: 144px;
	margin-right: -10000px;
	left: 151px;
}

#u98-4
{
	z-index: 129;
	width: 121px;
	margin-right: -10000px;
	left: 293px;
}

#pu96-4
{
	width: 0.01px;
	margin-left: 182px;
}

#u96-4
{
	z-index: 113;
	width: 138px;
	margin-right: -10000px;
}

#u409-4
{
	z-index: 117;
	width: 138px;
	margin-right: -10000px;
	left: 146px;
}

#u410-4
{
	z-index: 121;
	width: 139px;
	margin-right: -10000px;
	left: 294px;
}

#u411-4
{
	z-index: 125;
	width: 138px;
	margin-right: -10000px;
	left: 458px;
}

#advertising
{
	margin-left: 469px;
	margin-top: 265px;
}

#u386
{
	z-index: 328;
	height: 666px;
}

#u386-bw
{
	z-index: 328;
	margin-top: 130px;
	height: 666px;
}

#pu387
{
	width: 0.01px;
	padding-bottom: 267px;
	margin-left: 551px;
	margin-top: -566px;
}

#u387
{
	z-index: 329;
	width: 389px;
	height: 267px;
	top: 11412px;
	left: 551px;
}

#u388-4
{
	z-index: 330;
	top: 11428px;
	left: 570px;
}

#u389-4
{
	z-index: 334;
	width: 350px;
	min-height: 187px;
	top: 11482px;
	left: 572px;
}

#u393-4
{
	z-index: 338;
	margin-left: 309px;
	margin-top: 161px;
}

#u394-7
{
	z-index: 342;
	width: 559px;
	min-height: 196px;
	margin-left: 201px;
	margin-top: 15px;
}

#finance
{
	margin-left: 469px;
	margin-top: 313px;
}

#u399
{
	z-index: 349;
	height: 666px;
}

#u399-bw
{
	z-index: 349;
	margin-top: 57px;
	height: 666px;
}

#pu400
{
	width: 0.01px;
	padding-bottom: 283px;
	margin-left: 569px;
	margin-top: -535px;
}

#u400
{
	z-index: 350;
	width: 389px;
	height: 283px;
	top: 12929px;
	left: 569px;
}

#u401-4
{
	z-index: 351;
	top: 12943px;
	left: 589px;
}

#u402-4
{
	z-index: 355;
	width: 350px;
	min-height: 213px;
	top: 12997px;
	left: 590px;
}

#analytics
{
	margin-left: 469px;
	margin-top: 123px;
}

#u449
{
	z-index: 67;
	height: 564px;
}

#u449-bw
{
	z-index: 67;
	margin-top: 95px;
	height: 564px;
}

#pu450
{
	width: 0.01px;
	padding-bottom: 303px;
	margin-left: 28px;
	margin-top: -482px;
}

#u450
{
	z-index: 68;
	width: 389px;
	height: 303px;
	top: 13782px;
	left: 28px;
}

#u451-4
{
	z-index: 69;
	top: 13798px;
	left: 47px;
}

#u452-4
{
	z-index: 73;
	width: 350px;
	min-height: 187px;
	top: 13852px;
	left: 49px;
}

#marketing,#innovation
{
	margin-left: 469px;
}

#u406-4
{
	z-index: 359;
	margin-left: 239px;
	margin-top: 260px;
}

#u407-6
{
	z-index: 363;
	width: 605px;
	min-height: 136px;
	margin-left: 178px;
	margin-top: 13px;
}

#circulation
{
	margin-left: 469px;
	margin-top: 163px;
}

#u418
{
	z-index: 369;
	height: 666px;
}

#u418-bw
{
	z-index: 369;
	margin-top: 88px;
	height: 666px;
}

#pu419
{
	width: 0.01px;
	padding-bottom: 185px;
	margin-left: 569px;
	margin-top: -566px;
}

#u419
{
	z-index: 370;
	width: 389px;
	height: 185px;
	top: 15102px;
	left: 569px;
}

#u420-4
{
	z-index: 371;
	top: 15118px;
	left: 589px;
}

#u421-4
{
	z-index: 375;
	width: 350px;
	min-height: 115px;
	top: 15172px;
	left: 590px;
}

#paddesign
{
	width: 0.01px;
	margin-left: 469px;
	margin-top: 80px;
}

#addesign,#frontoffice
{
	width: 22px;
	margin-right: -10000px;
}

#pu422-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 83px;
}

#u422-4
{
	z-index: 379;
	margin-right: -10000px;
}

#u425-4
{
	z-index: 383;
	margin-right: -10000px;
	left: 504px;
}

#pu423-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -3px;
}

#u423-4
{
	z-index: 387;
	width: 412px;
	min-height: 180px;
	margin-right: -10000px;
}

#u424-4
{
	z-index: 391;
	width: 416px;
	min-height: 274px;
	margin-right: -10000px;
	left: 504px;
}

#form
{
	margin-left: 469px;
	margin-top: 352px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 116px;
}

#page .verticalspacer
{
	clear: both;
}

