.version.index /* version checker */
{
	color: #0000F9;
	background-color: #19FBD6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 17861.64999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -116px;
	margin-bottom: -84px;
	width: 0.01px;
}

#pu507
{
	width: 0.01px;
	padding-bottom: 75px;
	margin-left: -100px;
}

#u507
{
	z-index: 416;
	height: 75px;
	top: 0px;
}

#u507-bw
{
	z-index: 416;
}

#u508-4
{
	z-index: 417;
	top: 35px;
	left: 50%;
	margin-left: -353px;
}

#u509-4
{
	z-index: 421;
	top: 37px;
	left: 50%;
	margin-left: -107px;
}

#u510
{
	z-index: 429;
	top: 13px;
	left: 50%;
	margin-left: -79px;
}

#u1492-4
{
	z-index: 425;
	top: 37px;
	left: 50%;
	margin-left: 145px;
}

#ptop
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -75px;
}

#top
{
	margin-left: 569px;
}

#u176
{
	z-index: 2;
	min-height: 773px;
}

#u176-bw
{
	z-index: 2;
	min-height: 773px;
	margin-top: 57px;
}

#pu491-4
{
	width: 0.01px;
	margin-left: 97px;
	margin-top: 113px;
}

#u491-4
{
	z-index: 13;
	margin-right: -10000px;
	margin-top: 20px;
	left: -1px;
}

#u492-4
{
	z-index: 17;
	width: 280px;
	min-height: 30px;
	margin-right: -10000px;
}

#u486-10
{
	z-index: 3;
	width: 858px;
	min-height: 175px;
	margin-left: 51px;
	margin-top: 14px;
}

#u517
{
	z-index: 26;
	min-height: 317px;
}

#u517_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 33px;
	padding-bottom: 55px;
}

#u487-10
{
	z-index: 346;
	width: 792px;
	min-height: 83px;
	left: 198px;
}

#u488-4
{
	z-index: 356;
	width: 792px;
	min-height: 19px;
	left: 198px;
	margin-top: 21px;
}

#pu489-16
{
	width: 0.01px;
	left: 198px;
	margin-top: 9px;
	position: relative;
}

#u489-16
{
	z-index: 360;
	width: 311px;
	min-height: 79px;
	margin-right: -10000px;
}

#u490-17
{
	z-index: 376;
	width: 311px;
	min-height: 79px;
	margin-right: -10000px;
	left: 435px;
}

#u517-bw
{
	z-index: 26;
	min-height: 317px;
	margin-top: 117px;
}

#editorial
{
	margin-left: 451px;
	margin-top: 5px;
}

#u194-4
{
	z-index: 37;
	width: 434px;
	min-height: 82px;
	margin-left: 263px;
	margin-top: 251px;
}

#pu81-4
{
	width: 0.01px;
	margin-left: 259px;
}

#u81-4
{
	z-index: 41;
	width: 63px;
	margin-right: -10000px;
}

#u310-4
{
	z-index: 101;
	width: 54px;
	margin-right: -10000px;
	left: 74px;
}

#u325-4
{
	z-index: 97;
	width: 70px;
	margin-right: -10000px;
	left: 143px;
}

#u87-4
{
	z-index: 57;
	width: 133px;
	margin-right: -10000px;
	left: 221px;
}

#u85-4
{
	z-index: 93;
	width: 70px;
	margin-right: -10000px;
	left: 365px;
}

#pu86-4
{
	width: 0.01px;
	margin-left: 216px;
	margin-top: 1px;
}

#u86-4
{
	z-index: 105;
	width: 70px;
	margin-right: -10000px;
}

#u88-4
{
	z-index: 49;
	width: 62px;
	margin-right: -10000px;
	left: 86px;
}

#u89-4
{
	z-index: 65;
	width: 51px;
	margin-right: -10000px;
	left: 167px;
}

#u90-4
{
	z-index: 89;
	width: 114px;
	margin-right: -10000px;
	left: 234px;
}

#u92-4
{
	z-index: 109;
	width: 176px;
	margin-right: -10000px;
	left: 364px;
}

#pu279
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 580px;
}

#u279
{
	z-index: 119;
	height: 793px;
}

#u279-bw
{
	z-index: 119;
	margin-top: 9px;
	height: 793px;
}

#u544
{
	z-index: 121;
	min-height: 793px;
}

#sports
{
	margin-bottom: -9px;
	width: 22px;
	margin-right: -10000px;
	margin-top: 784px;
	left: 569px;
}

#u544-bw
{
	z-index: 121;
	min-height: 793px;
	margin-top: 802px;
}

#copy
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 793px;
	left: 569px;
}

#pu289
{
	width: 0.01px;
	padding-bottom: 976px;
	margin-left: 21px;
	margin-top: -1364px;
}

#u289
{
	z-index: 122;
	width: 389px;
	height: 372px;
	top: 2874px;
	left: 21px;
}

#u290-4
{
	z-index: 125;
	top: 2890px;
	left: 41px;
}

#u291-10
{
	z-index: 137;
	width: 350px;
	min-height: 296px;
	top: 2944px;
	left: 43px;
}

#u300
{
	z-index: 124;
	width: 397px;
	height: 194px;
	top: 3656px;
	left: 543px;
}

#u301-4
{
	z-index: 133;
	top: 3672px;
	left: 564px;
}

#u302-4
{
	z-index: 157;
	width: 355px;
	min-height: 113px;
	top: 3726px;
	left: 565px;
}

#u295
{
	z-index: 120;
	height: 798px;
}

#u295-bw
{
	z-index: 120;
	margin-top: -7px;
	margin-bottom: -7px;
	height: 798px;
}

#pu296
{
	width: 0.01px;
	padding-bottom: 389px;
	margin-left: 20px;
	margin-top: -630px;
}

#u296
{
	z-index: 123;
	width: 389px;
	height: 389px;
	top: 4399px;
	left: 20px;
}

#u297-4
{
	z-index: 129;
	top: 4416px;
	left: 39px;
}

#u298-10
{
	z-index: 147;
	width: 350px;
	min-height: 296px;
	top: 4470px;
	left: 40px;
}

#pu536
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u536
{
	z-index: 25;
	height: 793px;
}

#u536-bw
{
	z-index: 25;
	margin-top: 9px;
	height: 793px;
}

#pu314
{
	width: 0.01px;
	padding-bottom: 393px;
	margin-left: 601px;
	margin-top: -622px;
}

#u314
{
	z-index: 164;
	width: 339px;
	height: 393px;
	top: 5201px;
	left: 601px;
}

#u315-4
{
	z-index: 165;
	top: 5215px;
	left: 621px;
}

#u316-10
{
	z-index: 169;
	width: 292px;
	min-height: 140px;
	top: 5269px;
	left: 622px;
}

#u326
{
	z-index: 180;
	min-height: 9px;
	padding-bottom: 784px;
}

#photo
{
	width: 22px;
	margin-right: -10000px;
	margin-top: -9px;
	left: 569px;
}

#u326-bw
{
	z-index: 180;
	min-height: 9px;
}

#pu327
{
	width: 0.01px;
	padding-bottom: 511px;
	margin-left: 20px;
	margin-top: -671px;
}

#u327
{
	z-index: 183;
	width: 387px;
	height: 510px;
	top: 5945px;
	left: 20px;
}

#u328-4
{
	z-index: 184;
	top: 5961px;
	left: 38px;
}

#u329-14
{
	z-index: 188;
	width: 349px;
	min-height: 429px;
	top: 6016px;
	left: 40px;
}

#u338
{
	z-index: 181;
	min-height: 9px;
	padding-bottom: 784px;
}

#design
{
	width: 22px;
	margin-right: -10000px;
	margin-top: -9px;
	left: 575px;
}

#u338-bw
{
	z-index: 181;
	min-height: 9px;
}

#u551
{
	z-index: 182;
	height: 793px;
}

#u551-bw
{
	z-index: 182;
	margin-top: 793px;
	height: 793px;
}

#video
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 784px;
	left: 569px;
}

#pu334
{
	width: 0.01px;
	padding-bottom: 1210px;
	margin-left: 571px;
	margin-top: -1389px;
}

#u334
{
	z-index: 203;
	width: 389px;
	height: 310px;
	top: 6810px;
	left: 571px;
}

#u558
{
	z-index: 393;
	width: 389px;
	height: 371px;
	top: 7649px;
	left: 571px;
}

#u335-4
{
	z-index: 204;
	top: 6825px;
	left: 594px;
}

#u336-8
{
	z-index: 208;
	width: 338px;
	min-height: 229px;
	top: 6879px;
	left: 595px;
}

#u559-4
{
	z-index: 394;
	top: 7663px;
	left: 594px;
}

#u560-7
{
	z-index: 398;
	width: 338px;
	min-height: 229px;
	top: 7717px;
	left: 596px;
}

#u340
{
	z-index: 217;
	min-height: 10px;
	padding-bottom: 792px;
}

#web
{
	width: 22px;
	margin-right: -10000px;
	margin-top: -8px;
	left: 569px;
}

#u340-bw
{
	z-index: 217;
	min-height: 10px;
}

#pu341
{
	width: 0.01px;
	padding-bottom: 371px;
	margin-left: 20px;
	margin-top: -630px;
}

#u341
{
	z-index: 219;
	width: 446px;
	height: 371px;
	top: 8371px;
	left: 20px;
}

#u342-4
{
	z-index: 221;
	top: 8387px;
	left: 38px;
}

#u343-13
{
	z-index: 229;
	width: 401px;
	min-height: 282px;
	top: 8442px;
	left: 39px;
}

#u345
{
	z-index: 23;
	min-height: 801.8499999999985px;
	padding-bottom: 0px;
}

#u345_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 1px;
	padding-bottom: 386px;
}

#street
{
	left: 569px;
}

#u564
{
	z-index: 24;
	left: 91px;
	margin-top: 152px;
}

#u345-bw
{
	z-index: 23;
	min-height: 801.8499999999985px;
}

#pu346
{
	width: 0.01px;
	padding-bottom: 247px;
	margin-left: 189px;
	margin-top: -340px;
}

#u346
{
	z-index: 266;
	width: 752px;
	height: 247px;
	top: 9463px;
	left: 189px;
}

#u347-4
{
	z-index: 267;
	top: 9476px;
	left: 216px;
}

#u348-7
{
	z-index: 271;
	width: 684px;
	min-height: 160px;
	top: 9530px;
	left: 216px;
}

#pu338,#pbusiness
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3px;
}

#u350
{
	z-index: 218;
	min-height: 22px;
	padding-bottom: 835px;
}

#anchor-u355
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 569px;
}

#u350-bw
{
	z-index: 218;
	min-height: 22px;
}

#pu353
{
	width: 0.01px;
	padding-bottom: 430px;
	margin-top: -479px;
}

#u353
{
	z-index: 220;
	width: 960px;
	height: 427px;
	top: 10187px;
	left: 0px;
}

#u351-4
{
	z-index: 225;
	top: 10206px;
	left: 27px;
}

#u354-23
{
	z-index: 242;
	width: 900px;
	min-height: 350px;
	top: 10257px;
	left: 27px;
}

#u200-4
{
	z-index: 114;
	width: 434px;
	min-height: 61px;
	margin-left: 263px;
	margin-top: 298px;
}

#pu93-4
{
	width: 0.01px;
	margin-left: 219px;
	margin-top: 41px;
}

#u93-4
{
	z-index: 53;
	width: 141px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u94-4
{
	z-index: 45;
	width: 104px;
	margin-right: -10000px;
	left: 425px;
}

#u95-4
{
	z-index: 61;
	width: 144px;
	margin-right: -10000px;
	left: 151px;
}

#u98-4
{
	z-index: 85;
	width: 121px;
	margin-right: -10000px;
	left: 293px;
}

#pu96-4
{
	width: 0.01px;
	margin-left: 182px;
}

#u96-4
{
	z-index: 69;
	width: 138px;
	margin-right: -10000px;
}

#u409-4
{
	z-index: 73;
	width: 138px;
	margin-right: -10000px;
	left: 146px;
}

#u410-4
{
	z-index: 77;
	width: 139px;
	margin-right: -10000px;
	left: 294px;
}

#u411-4
{
	z-index: 81;
	width: 138px;
	margin-right: -10000px;
	left: 458px;
}

#pu386
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 360px;
}

#u386
{
	z-index: 280;
	min-height: 845px;
	padding-bottom: 12px;
}

#marketing
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 827px;
	left: 569px;
}

#u386-bw
{
	z-index: 280;
	min-height: 845px;
	margin-top: 9px;
}

#newsreporting,#socialmedia,#advertising
{
	width: 22px;
	margin-right: -10000px;
	left: 569px;
}

#pu387
{
	width: 0.01px;
	padding-bottom: 267px;
	margin-left: 533px;
	margin-top: -582px;
}

#u387
{
	z-index: 281;
	width: 389px;
	height: 267px;
	top: 11794px;
	left: 533px;
}

#u388-4
{
	z-index: 282;
	top: 11810px;
	left: 552px;
}

#u389-4
{
	z-index: 286;
	width: 350px;
	min-height: 187px;
	top: 11864px;
	left: 554px;
}

#u576
{
	z-index: 22;
	min-height: 856.6500000000015px;
	padding-bottom: 0px;
}

#u576_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 269px;
	padding-bottom: 335px;
}

#u393-4
{
	z-index: 290;
	left: 409px;
}

#u394-7
{
	z-index: 294;
	width: 624px;
	min-height: 196px;
	left: 268px;
	margin-top: 15px;
}

#u576-bw
{
	z-index: 22;
	min-height: 856.6500000000015px;
}

#u399
{
	z-index: 301;
	min-height: 782px;
	padding-bottom: 75px;
}

#analytics
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 764px;
	left: 569px;
}

#u399-bw
{
	z-index: 301;
	min-height: 782px;
	margin-top: 857px;
}

#business,#finance
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 848px;
	left: 569px;
}

#pu400
{
	width: 0.01px;
	padding-bottom: 291px;
	margin-left: 520px;
	margin-top: -551px;
}

#u400
{
	z-index: 302;
	width: 420px;
	height: 291px;
	top: 13537px;
	left: 520px;
}

#u401-4
{
	z-index: 303;
	top: 13551px;
	left: 543px;
}

#u402-4
{
	z-index: 307;
	width: 373px;
	min-height: 206px;
	top: 13606px;
	left: 544px;
}

#u449
{
	z-index: 27;
	height: 610px;
}

#u449-bw
{
	z-index: 27;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 610px;
}

#pu450
{
	width: 0.01px;
	padding-bottom: 298px;
	margin-left: 117px;
	margin-top: -536px;
}

#u450
{
	z-index: 28;
	width: 424px;
	height: 298px;
	top: 14161px;
	left: 117px;
}

#u451-4
{
	z-index: 29;
	top: 14177px;
	left: 137px;
}

#u452-4
{
	z-index: 33;
	width: 382px;
	min-height: 210px;
	top: 14236px;
	left: 141px;
}

#pu576,#pu579
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u579
{
	z-index: 21;
	min-height: 783px;
	padding-bottom: 74px;
}

#circulation
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 765px;
	left: 568px;
}

#u579-bw
{
	z-index: 21;
	min-height: 783px;
}

#innovation
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 569px;
}

#pu586
{
	width: 0.01px;
	padding-bottom: 233px;
	margin-left: 456px;
	margin-top: -579px;
}

#u586
{
	z-index: 405;
	width: 502px;
	height: 233px;
	top: 14973px;
	left: 456px;
}

#u587-4
{
	z-index: 406;
	top: 14987px;
	left: 479px;
}

#u588-6
{
	z-index: 410;
	width: 460px;
	min-height: 149px;
	top: 15041px;
	left: 480px;
}

#u418
{
	z-index: 311;
	height: 870px;
}

#u418-bw
{
	z-index: 311;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 870px;
}

#pu419
{
	width: 0.01px;
	padding-bottom: 206px;
	margin-left: 547px;
	margin-top: -597px;
}

#u419
{
	z-index: 312;
	width: 389px;
	height: 206px;
	top: 15824px;
	left: 547px;
}

#u420-4
{
	z-index: 313;
	top: 15840px;
	left: 567px;
}

#u421-4
{
	z-index: 317;
	width: 360px;
	min-height: 115px;
	top: 15894px;
	left: 568px;
}

#paddesign
{
	width: 0.01px;
	margin-left: 469px;
	margin-top: 1px;
}

#addesign,#frontoffice
{
	width: 22px;
	margin-right: -10000px;
}

#pu422-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 148px;
}

#u422-4
{
	z-index: 321;
	margin-right: -10000px;
}

#u425-4
{
	z-index: 325;
	margin-right: -10000px;
	left: 504px;
}

#pu423-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -3px;
}

#u423-4
{
	z-index: 329;
	width: 412px;
	min-height: 180px;
	margin-right: -10000px;
}

#u424-4
{
	z-index: 333;
	width: 416px;
	min-height: 274px;
	margin-right: -10000px;
	left: 504px;
}

#signup
{
	margin-left: 469px;
	margin-top: 107px;
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 569px;
}

#pu1488
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 48px;
}

#u1488,#u1488-bw
{
	z-index: 432;
	min-height: 904px;
}

#u643
{
	z-index: 431;
	min-height: 46px;
	padding-bottom: 61px;
}

#u544_align_to_page,#u326_align_to_page,#u338_align_to_page,#u340_align_to_page,#u350_align_to_page,#u386_align_to_page,#u399_align_to_page,#u579_align_to_page,#u643_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1513
{
	z-index: 446;
	width: 261px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 133px;
}

#u1503
{
	z-index: 434;
	width: 73px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 428px;
}

#u1505
{
	z-index: 435;
	width: 114px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 533px;
}

#u1511-4
{
	z-index: 438;
	width: 65px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 724px;
}

#u1512-4
{
	z-index: 442;
	width: 65px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 812px;
}

#u1507
{
	z-index: 436;
	width: 24px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 950px;
}

#u1509
{
	z-index: 437;
	width: 24px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 983px;
}

#u1515
{
	z-index: 447;
	width: 24px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1016px;
}

#u643-bw
{
	z-index: 431;
	min-height: 46px;
	margin-top: 98px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 116px;
}

#page .verticalspacer
{
	clear: both;
}

