#u507
{
	border-style: none;
	border-color: transparent;
	background-color: #791214;
	position: fixed;
}

#u510
{
	overflow: hidden;
	position: fixed;
}

#u508-4,#u509-4,#u1492-4
{
	position: fixed;
}

#u492-4
{
	background-color: transparent;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	position: relative;
}

#u486-10
{
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	position: relative;
}

#u487-10
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u487-2
{
	font-size: 29px;
	line-height: 35px;
	color: #FFFFFF;
	font-weight: bold;
}

#u487-4
{
	font-size: 19px;
	line-height: 23px;
	color: #C1787B;
	font-weight: bold;
}

#u487-6
{
	font-size: 17px;
	line-height: 20px;
	color: #FFFFFF;
}

#u488-4
{
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u489-16,#u490-17
{
	background-color: transparent;
	position: relative;
}

#u489-2,#u489-10,#u490-2,#u490-10
{
	color: #FFFFFF;
	font-weight: bold;
}

#u487-8,#u489-3,#u489-11,#u490-3,#u490-11
{
	color: #FFFFFF;
}

#u279
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/new_york_times_building_0210.jpg") no-repeat center center;
	background-size: cover;
}

#u544
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/2349632625_7c2813f45b_o.jpg") no-repeat center center;
	background-size: cover;
}

#u295
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/palestra_interior.jpg") no-repeat center center;
	background-size: cover;
}

#u536
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/9386166498_f4a3cd44c8_o.jpg") no-repeat center top;
	background-size: cover;
}

#u326
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/usaf_photographer.jpg") no-repeat center top;
	background-size: cover;
}

#u338
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/paintbrush_and_palette.jpg") no-repeat center center;
	background-size: cover;
}

#u551
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/video_camera.jpg") no-repeat center center;
	background-size: cover;
}

#u340
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/6812407093_e3a25e2f2d_o.jpg") no-repeat center center;
	background-size: cover;
}

#u345
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/street.jpg") no-repeat center center;
	background-size: cover;
}

#u350
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/3211746424_22232f771e_o%20(2).jpg") no-repeat center bottom;
	background-size: cover;
}

#u194-4,#u200-4
{
	background-color: transparent;
	color: #7F7F7F;
	line-height: 66px;
	text-align: center;
	font-size: 55px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u386
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/for_sale_-_classifieds.jpg") no-repeat center center;
	background-size: cover;
}

#u517,#u576
{
	border-style: none;
	border-color: transparent;
	background-color: #771115;
}

#u394-7
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	position: relative;
}

#u399
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/analyzing_financial_data_(5099605109).jpg") no-repeat center center;
	background-size: cover;
}

#u449
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/8357022407_5163d9f85e_o.jpg") no-repeat center top;
	background-size: cover;
}

#u579
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/innovation-lightbulb.jpg") no-repeat center center;
	background-size: cover;
}

#u418
{
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/6277209256_198cdbea86_o.jpg") no-repeat center center;
	background-size: cover;
}

#u289,#u300,#u296,#u314,#u327,#u334,#u558,#u341,#u346,#u353,#u387,#u400,#u450,#u586,#u419
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
	position: fixed;
}

#u290-4,#u301-4,#u297-4,#u315-4,#u328-4,#u335-4,#u559-4,#u342-4,#u347-4,#u351-4,#u388-4,#u401-4,#u451-4,#u587-4,#u420-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u291-10,#u302-4,#u298-10,#u316-10,#u329-14,#u336-8,#u560-7,#u343-13,#u348-7,#u354-23,#u389-4,#u402-4,#u452-4,#u588-6,#u421-4
{
	background-color: transparent;
	color: #6B6B6B;
	line-height: 20px;
	text-align: left;
	font-size: 16px;
	position: fixed;
}

#u491-4,#u393-4,#u422-4,#u425-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u423-4,#u424-4
{
	background-color: transparent;
	color: #6B6B6B;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	position: relative;
}

#u176,#u1488
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u643
{
	border-style: none;
	border-color: transparent;
	background-color: #771015;
}

#top,#u517_align_to_page,#editorial,#u81-4,#u310-4,#u325-4,#u87-4,#u85-4,#u86-4,#u88-4,#u89-4,#u90-4,#u92-4,#u544_align_to_page,#sports,#newsreporting,#copy,#socialmedia,#u326_align_to_page,#photo,#u338_align_to_page,#design,#video,#u340_align_to_page,#web,#u345_align_to_page,#street,#business,#u350_align_to_page,#anchor-u355,#u93-4,#u94-4,#u95-4,#u98-4,#u96-4,#u409-4,#u410-4,#u411-4,#u386_align_to_page,#marketing,#advertising,#u576_align_to_page,#u399_align_to_page,#analytics,#finance,#u579_align_to_page,#circulation,#innovation,#addesign,#frontoffice,#signup,#u643_align_to_page,#u1511-4,#u1512-4
{
	position: relative;
}

#u508-4_img,#u509-4_img,#u1492-4_img,#u81-4_img,#u310-4_img,#u325-4_img,#u87-4_img,#u85-4_img,#u86-4_img,#u88-4_img,#u89-4_img,#u90-4_img,#u92-4_img,#u93-4_img,#u94-4_img,#u95-4_img,#u98-4_img,#u96-4_img,#u409-4_img,#u410-4_img,#u411-4_img,#u1511-4_img,#u1512-4_img
{
	display: block;
	vertical-align: top;
}

#u564,#u1513,#u1503,#u1505,#u1507,#u1509,#u1515
{
	overflow: hidden;
	position: relative;
}

