a.article-link {
  color: #000;
}

a:hover {
  color: #014A53;
  text-decoration: none;
}

hr {
  border-width: 3px;
  border-color: #000;
}

p {
  color: #777;
}

h1 {
  font-weight: 700;
  color: #014A53;
}

img.img-fluid {
  margin-bottom: 10px;
}

.header {
  text-align: center;
  padding: 5px;
}

.footer {
  text-align: center;
  margin-bottom: 20px;
}
