@font-face {
  font-family: 'roadway';
  src: url('../font/roadway_.woff2') format('woff2'),
       url('../font/roadway_.woff') format('woff'),
       url('../font/roadway_.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    overflow-x: hidden;
    font-family: 'Lora', georgia,serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'roadway', arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #2e6e80;
}

a {
  color: #2e6e80;
  text-decoration: none;
}

a:hover {
  color: #57c3dc;
  text-decoration: none;
}
.scroll
{
    position: fixed;
    bottom: 0;
    left: 0;
}

