#u1333-2,#u1236-2,#u1281-2,#u1218-2,#u1308-2,#u1191-2,#u1245-2,#u1299-2,#u1272-2,#u1227-2,#u1290-2,#u1254-2,#u1200-2,#u1263-2,#u1209-2,#u1112-2
{
	font-family: chunk-n4, serif;
}

#u1236-6,#u1281-6,#u1218-6,#u1308-6,#u1191-6,#u1245-6,#u1299-6,#u1272-6,#u1227-6,#u1290-6,#u1254-6,#u1200-6,#u1263-6,#u1209-6,#u1112-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1114-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1109-4
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u1333-4,#u1236-4,#u1281-4,#u1218-4,#u1308-4,#u1191-4,#u1245-4,#u1299-4,#u1272-4,#u1227-4,#u1290-4,#u1254-4,#u1200-4,#u1263-4,#u1209-4,#u1112-4,#u1099-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

