@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400');

body {
  font-size: 1em;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  margin-bottom: 10px;
  font-size: 3rem;
}

h2 {
  margin-bottom: 10px;
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #000;
}

section {
  min-height: calc(100vh - 100px);
  height: auto;
  padding: 50px;
}

section.intro {
  display: flex;
  justify-content: center;
  background: linear-gradient(transparent, transparent, #000), url('./img/skyline.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 150px);
}

section.editorial {
  background-color: #AA1E22;
  color: #FFF;
}

section.business {
  background-color: #EEE;
}

section.street {
  background-color: #44BFBF;
}

section.utb {
  background-color: #446CB3;
}

section.why {
  background-color: #EEE;
}

p.overall {
  margin: 20px auto;
}

.logo {
  margin-top: 5px;
}

.intro-text {
  color: #FFF;
  text-align: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.ed-body, .biz-body {
  width: 50%;
  margin: auto;
}

.departments {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.departments span {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.ed-tab, .biz-tab {
  cursor: pointer;
}

.ed-text, .biz-text {
  visibility: hidden;
  margin: 0;
  height: 0;
  width: 50%;
}

.ed-text p, .biz-text p {
  margin: 0;
  height: 0;
}

.ed-text.active, .biz-text.active {
  visibility: visible;
}

.ed-text.active p, .biz-text.active p {
  margin: 1em 0;
  height: auto;
}

.ed-tab.active {
  font-weight: 700;
  border-bottom: 3px solid #FFF;
}

.biz-tab.active {
  font-weight: 700;
  border-bottom: 3px solid #000;
}

@media screen and (max-width: 1250px) {
  .departments {
    flex-wrap: wrap;
  }

  .departments span {
    width: 25%;
  }

  .biz-body .departments span {
    width: 33%;
  }

  .ed-text, .biz-text {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .ed-body, .biz-body {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  section {
    width: calc(100vw - 30px);
    padding: 20px 15px;
  }
}

@media screen and (max-wdith: 350px) {
  .biz-body .departments span {
    width: 50%;
  }
}
