import body {
  color: black;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}
p {
  font-size: 20px;
  min-width: 400px;
  max-width: 800px;
}
p.divider {
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
}
h1 {
  font-family: 'Prblata', serif;
  font-size: 1x;
  color: black;
}
h2 {
  font-family: 'Andale Mono', sans-serif;
  font-size: 40px;
  margin-left: 10%;
  max-width: 600px;
}
img.sectiontop {
  max-height: 200px;
  height: auto;
  width: 100%;
  display: block;
}
td.title {
  padding: 0px;
  font-family: 'Maven Pro', sans-serif;
}
td.pic {
  text-align: center;
  word-wrap: break-word;
  padding: 10px;
  border-left: solid;
  border-color: black;
  border-width: 0.5em;
}
tr {
  font-size: 22px;
}
table {
  font-family: 'Andale Mono';
  table-layout: fixed;
  border-style: solid;
  border-color: black;
  border-width: 0.5em;
}
.container {
  padding-left: 15%;
  padding-right: 30%;
  position: relative
}
blockquote {
  padding-left: 8%;
  padding-right: 20%;
  font-size: 25px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  min-width: 450px;

  width: 700px;
}
#container.div {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 10%;
  float: left;
  display: inline-block;
  vertical-align: top;
}
.navbar {
  background: #000;
  border-style: none;
}
.jumbotron {
  background: rgba(255, 255, 255, .7);
}
.btn-primary {
  background: #000;
  border-style: none;
}
.btn-primary:hover {
  background: #303030;
}
.mainphoto {
  width: 170%;
  margin-left: -20%;
}
#disqus_thread {
  display: block;
  margin-left: 15%;
  width: 70%;
}
footer {
  width: 100wv;
  margin-top: 50px;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 50%;
}
footer .footer-bar {
  background-color: #000000;
  text-align: center;
  font-family: "Open Sans Light";
  color: #FFFFFF;
}
footer .footer-bar h3 {
  font-family: "Open Sans Light";
  font-size: 25px;
  color: #FFFFFF;
  padding-top: 30px;
}
footer .footer-bar p {
  display: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto Slab', serif;
}
footer .footer-bar hr {
  display: relative;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-bar .name {
  font-family: "Open Sans SemiBold";
}
footer .footer-bar .copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .footer-bar .social-media {
  display: relative;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-bar .svg-icon {
  width: 50px;
  height: 50px;
  margin: 15px 15px;
}
footer .footer-bar .svg-icon path, footer .footer-bar .svg-icon polygon, footer .footer-bar .svg-icon rect {
  fill: #FFFFFF;
}
footer .footer-bar .svg-icon:hover path, footer .footer-bar .svg-icon polygon, footer .footer-bar .svg-icon rect {
  fill: #FFFFFF;
}
.nav-bar {
  background-color: #000000;
}
.nav-bar .top-bar, .nav-bar .top-bar-section, .nav-bar .flex-container, .nav-bar .flex-container > li, .nav-bar .flex-container > li > a {
  background-color: transparent !important;
}
.nav-bar .top-bar .dropdown li {
  background-color: #771015;
}
.nav-bar .top-bar .dropdown li a {
  background-color: transparent !important;
}
.nav-bar .top-bar .dropdown li a:hover {
  color: #C43700;
}
.nav-bar .top-bar-section, .nav-bar ul.flex-container {
  height: 100% !important;
}
.nav-bar .flex-container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.nav-bar .flex-container li a {
  color: #FFFFFF;
  font-family: "Open Sans SemiBold";
}
.nav-bar .flex-container li a:hover {
  color: #C43700 !important;
}
.nav-bar .flex-container img {
  padding-top: 130px;
}
.stories {
  width: 75%;
  margin-top: 35px;
  padding: 10px;
}
.stories .row .col-sm-3 {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin-left: -1px;
}
.stories .row .col-sm-3 img {
  width: 100%;
}
.dropcap {
  float: left;
  color: #903;
  font-size: 65px;
  line-height: 60px;
  padding-right: 8px;
  padding-left: 3px;
  margin-bottom: -4px;
}
