body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

h1, h3, p {
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

h3:first-of-type {
  margin-top: 20px;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('https://snworksceo.imgix.net/dpn/120078a5-e00e-45a1-92f4-56743ad95825.sized-1000x1000.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-container {
  position: absolute;
  bottom: 0;
  padding: 50px;
}

.title-box {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.information {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  padding: 20px;
}

.mobile-information {
  display: none;
}

@media screen and (min-width: 1000px) {
  .container {
    background-image: url('https://s3.amazonaws.com/snwceomedia/dpn/120078a5-e00e-45a1-92f4-56743ad95825.original.jpg');
  }
}

@media screen and (max-width: 768px) {
  h1, h3, p {
    text-align: center;
  }

  h1 {
    padding-top: 50px;
  }

  .container {
    height: 50vh;
  }

  .inner-container {
    display: none;
  }

  .mobile-information {
    height: 50vh;
    display: block;
    padding: 0 20px;
    background-color: rgb(232, 232, 232);
  }
}
