@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Josefin+Sans:300');

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

h1, h2 {
  font-family: 'Cardo', serif;
  margin-bottom: 20px;
  color: #35355a;
}

h3, h4 {
  font-family: 'Cardo', serif;
  color: #335f85;
}

h4 {
  margin-bottom: 8px;
}

h6 {
  margin-bottom: 5px;
}

h6 a {
  color: #335f85;
}

img {
  margin-bottom: 10px;
}

footer {
  text-align: center;
}

a:hover, a:hover h4 {
  text-decoration: none;
  color: #35355a;
}

.polling-link h4 {
  color: #c93836;
}

.container:not(.header) {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container.table-of-contents {
  padding-top: 0;
}

.row:not(.news) {
  margin-top: 20px;
}

.row.news:not(:last-of-type) {
  margin-bottom: 20px;
}

.ad-container hr {
  border-top: 1px solid rgba(0,0,0,.1);
}

.ad-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ad {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0 0;
  background-color: #000;
}

.header-image {
  width: 600px;
  height: auto;
  display: block;
  margin: auto;
}

.white-text {
  color: #FFF;
}

.blue {
  background-color: #a5c9d6;
}

.red {
  background-color: #c93836;
}

.gray {
  background-color: #DCDCDC;
  text-align: center;
  color: #35355a;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.polling-link {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gray h4 {
  margin-bottom: 0px;
}

.no-margins {
  margin-bottom: 0;
}

.red a, .red a .title, .red h4 {
  color: #FFF;
}

.red a:hover, .red a:hover .title {
  color: #DDD;
}

.red .btn-red {
  color: #c93836;
  background-color: #FFF;
  border-color: #FF3836;
}

.red .btn-red:hover {
  background-color: #FF3836;
  color: #FFF;
  transition: .3s;
}

.btn-blue {
  align-self: flex-start;
  color: #35355a;
  background-color: #FFF;
  border-color: #335f85;
}

.btn-blue:hover {
  background-color: #335f85;
  color: #FFF;
  transition: .3s;
}

.section-header {
  margin-bottom: 40px;
  font-weight: 700;
}

.whats-at-stake {
  margin-bottom: 50px;
  text-align: center;
  font-size: 3em;
}

.table-contents {
  text-align: center;
}

.table-contents:not(:last-of-type) {
  border-right: 1px solid grey;
}

.full-description {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.img-item.checkmark {
  padding-right: 0;
}

.date {
  font-size: 12px;
}

.top-perspectives {
  margin-bottom: 30px;
}

.description {
  line-height: 16px;
}

.red .description {
  color: #FFF;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.inputs {
  position: absolute;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.address-field {
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-bottom: 5px;
}

.poll-button {
  padding: 6px 12px;
  font-size: 14px;
  color: #AA1E22;
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.mapboxgl-popup-content {
  padding: 10px;
}

.map {
  position: relative;
}

.marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #AA1E22;
  /* background-image: url(); TODO: get sprites for these */
  background-size: cover;
  cursor: pointer;
}

.poll {
  background-color: #8FD7F2;
  /* background-image: url(); TODO: get sprites for these */
}

@media only screen and (min-width: 992px) {
  .img-item {
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container:not(.header, .table-of-contents) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .col-md {
    margin-bottom: 20px;
  }

  .table-contents:not(:last-of-type) {
    border-right: none;
  }

  .whats-at-stake {
    margin-bottom: 0;
  }
}
