#u863-4,#u113-4,#u144-4,#u191-4,#u183-4,#u441-4,#u436-4,#u430-4,#u427-6,#u701-4,#u695-4,#u685-4,#u692-4,#u704-4,#u710-4,#u714-4
{
	font-family: chunk-n4, serif;
}

#u865-4,#u864-4,#u112-2,#u145-2,#u192-2,#u184-2,#u440-2,#u435-2,#u431-2,#u426-2,#u700-2,#u696-2,#u690-2,#u686-2,#u707-2,#u709-2,#u715-2
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u112-3,#u112-5,#u145-3,#u145-5,#u192-3,#u192-5,#u184-3,#u184-5,#u440-3,#u440-5,#u435-3,#u435-5,#u431-3,#u431-5,#u426-3,#u426-5,#u700-3,#u700-5,#u696-3,#u696-5,#u690-3,#u690-5,#u686-3,#u686-5,#u707-3,#u707-5,#u709-3,#u709-5,#u715-3,#u715-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

