@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue.eot');
    src: url('fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue.woff2') format('woff2'),
         url('fonts/BebasNeue.woff') format('woff'),
         url('fonts/BebasNeue.ttf') format('truetype'),
         url('fonts/BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  overflow-x: hidden;
  background-color: #AFCFCE;
  color: white;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'BebasNeue', sans-serif;
}

img {
  max-width: 100%;
}
main {
  width: 100vw;
  position: relative;
}

a {
	text-decoration: none;
	color: inherit;
}

a:focus, a:hover, a:active {
	text-decoration: none;
	color: inherit;
  cursor: pointer;
}

#title {
  color: #3C3C3C;
	min-height: 100vh;
	width: 100%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
	margin: .5em;
	font-size: 4em;
}


header {
  padding: 10px;
	width: 100%;
	background-color: #3C3C3C;
  border-bottom: 1px solid #fff;
	height: auto;
	text-align: center;
}

.logo {
	height: 30px;
	width: auto;
	padding: 5px;
}


.header-bar .row{
	text-align: center;
}

footer {
  color: #3C3C3C;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;
	text-align: center;
  z-index: 1;
}

.section-header .row {
  height: 50vh;
}

.section-header img {
  max-width: 80%;
}

.section-header .col-sm-6 {
  height: 100%;
}

.shadow-hover {
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.shadow-hover:hover {
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.25);
  z-index: 99;
  -webkit-transform:scale(1.005) perspective(1px); /* Safari and Chrome */
     -moz-transform:scale(1.005) perspective(1px); /* Firefox */
      -ms-transform:scale(1.005) perspective(1px); /* IE 9 */
       -o-transform:scale(1.005) perspective(1px); /* Opera */
          transform:scale(1.005) perspective(1px);
}

.col-sm-6 h2 {
  position: relative;
}

.section-header section {
  color: #fff;
}

.section-header p {
  padding-top: 40%;
  text-align: justify;
  hyphens: auto;
}

.section-header section:nth-child(1) {
  background-color: #368879;
}

.section-header section:nth-child(1) h2,
.section-header section:nth-child(2) h2 {
  width: 100%;
  padding-top: 10px;
}

.section-header section:nth-child(1) .icon,
.section-header section:nth-child(2) .icon {
  margin-top: 30px;
}

.section-header section:nth-child(2) h2 {
  text-align: right;
}

.section-header section:nth-child(2) {
  background-color: #99B6A0;
}

.section-header section:nth-child(3) {
  background-color: #0D3D49;
}

.section-header section:nth-child(3) h2,
.section-header section:nth-child(4) h2 {
  top: calc(100% - 80px);
  width: 100%;
  z-index: 100;
}

.section-header section:nth-child(4) {
  background-color: #2A7595;
}

.section-header section:nth-child(4) h2 {
  text-align: right;
}

.nav-arrow,
.home-arrow {
  font-size: 30px;
  font-family: 'BebasNeue', sans-serif;
}

.nav-arrow img {
  height: 23px;
  margin: 12px;
  vertical-align: middle;
}

img.tr {
  transform: rotate(90deg);
}

img.bl {
  transform: rotate(-90deg);
}

img.br {
  transform: rotate(180deg);
}

.home-arrow {
	border: 1px solid white;
  border-radius: 4px;
  width: 50px;
  padding: 0px 20px 0px 20px;
}

.section-title {
  font-size: 60px;
}

.section-title img {
  padding: 30px;
}

#narratives .row, #the-administration .row, #resources .row, #wellness .row{
	padding-top: 50px;
	padding-bottom: 50px;
}

#narratives .col-sm-6, #the-administration .col-sm-6, #resources .col-sm-6, #wellness .col-sm-6{
	height: auto;
	text-align: center;
	color: white;
}

#narratives {
	background-color: #368879;
}

#the-administration {
	background-color: #99B6A0;
}

#resources {
	background-color: #0D3D49;
}

#wellness {
	background-color: #2A7595;
}

.section-articles {
	text-align: left !important;
}

.section-articles a:focus,
.section-articles a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.section-articles a:hover,
.section-articles a:active {
  color: #AFCFCE;
  text-decoration: none;
}

.section-articles a h3 {
  margin-top: 30px;
}

.section-articles a p {
  padding-bottom: 30px;
  border-bottom: 1px solid #FFFFFF;
}

.container {
	position: relative;
	overflow: hidden;
}

.pages {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	z-index: 0;
}

.page {
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	height: auto;
	visibility: hidden;
	z-index: 1;
}

.page:not(.section-header) {
  position: absolute;
}

.page.page--current {
	visibility: visible;
	/*position: relative;*/
}

.revealer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1000;
	pointer-events: none;
}

.revealer--cornertopleft,
.revealer--cornertopright,
.revealer--cornerbottomleft,
.revealer--cornerbottomright {
	top: 50%;
	left: 50%;
}

.revealer--top,
.revealer--bottom {
	left: 0;
}

.revealer--right,
.revealer--left {
	top: 50%;
	left: 50%;
}

.revealer--top {
	bottom: 100%;
}

.revealer--bottom {
	top: 100%;
}

.revealer__layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ddd;
}

/* Three layer effect (effect-3) */

.anim--effect-3 .page:nth-child(2) {
	background: #ECF3A3;
}

.anim--effect-3 .revealer--animate .revealer__layer {
	-webkit-animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
	animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(2) {
	-webkit-animation-name: anim-effect-3-2;
	animation-name: anim-effect-3-2;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(3) {
	-webkit-animation-name: anim-effect-3-3;
	animation-name: anim-effect-3-3;
}

@-webkit-keyframes anim-effect-3-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	25%,
	75% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	25%,
	75% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-3-2 {
	0%,
	12.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-2 {
	0%,
	12.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-3-3 {
	0%,
	25% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-3 {
	0%,
	25% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@media screen and (max-width: 800px) {
  .section-header .col-sm-6 {
    height: auto;
  }

  .section-header img {
    position: relative;
    width: 75%;
  }

  .section-header p {
    padding-top: 15px;
  }

  .page {
    height: auto;
    padding-left: 15px;
  }

  .container {
    height: auto;
  }

  .section-header h2 {
    padding-top: 15px;
  }

  .nav-arrow img {
    width: auto;
    margin-top: 5px;
    margin: 5px;
  }

  .section-header .row {
    height: auto;
  }
  /*.section-header section {
    min-height: 100vh;
  }*/
}
