body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
a {
	text-decoration: none;
	color: inherit;
}

a:hover, a:active {
	text-decoration: none;
	color: inherit;
  cursor: pointer;
}

section {
	min-height: 500px;
}

#title {
	height: 100vh;
	width: 100%;
	color: white;
	background-color: #36454f;
}

#title h1 {
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	margin-top: 1em;
	font-size: 4em;
}

#title p {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

.header-bar {
	width: 100%;
	background-color: #36454f;
  border-bottom: 1px solid #fff;
	height: auto;
}

.header-bar .row{
	text-align: center;
}

.section-header .row {
  height: 50vh;
}

.section-header .col-sm-6 {
  height: 100%;
}

.col-sm-6 h2 {
  position: relative;
}

.section-header section {
  color: #fff;
}

.section-header p {
  padding-top: 40%;
  text-align: justify;
  hyphens: auto;
}

.section-header section:nth-child(1) {
  background-color: #36454f;
}

.section-header section:nth-child(2) h2 {
  width: 100%;
  text-align: right;
}

.section-header section:nth-child(2) {
  background-color: #6e7f80;
}

.section-header section:nth-child(3) {
  background-color: #708090;
}

.section-header section:nth-child(3) h2,
.section-header section:nth-child(4) h2 {
  top: calc(100% - 80px);
  width: 100%;
}

.section-header section:nth-child(4) {
  background-color: #536878;
}

.section-header section:nth-child(4) h2 {
  text-align: right;
}

.nav-arrow {
  font-size: 60px;
}

#narratives .row, #the-administration .row, #resources .row, #wellness .row{
	padding-top: 50px;
	padding-bottom: 50px;
}

#narratives .col-sm-6, #the-administration .col-sm-6, #resources .col-sm-6, #wellness .col-sm-6{
	height: auto;
	text-align: center;
	color: white;
}

#narratives {
	background-color: pink;
}

#the-administration {
	background-color: blue;
}

#resources {
	background-color: red;
}

#wellness {
	background-color: teal;
}

.section-title {
	font-size: xx-large;
}

.section-articles {
	text-align: left !important;
}

.container {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.pages {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

.page {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index: 1;
}

.page:not(.section-header) {
  position: absolute;
}

.page.page--current {
	visibility: visible;
	/*position: relative;*/
}

.revealer {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1000;
	pointer-events: none;
}

.revealer--cornertopleft,
.revealer--cornertopright,
.revealer--cornerbottomleft,
.revealer--cornerbottomright {
	top: 50%;
	left: 50%;
}

.revealer--top,
.revealer--bottom {
	left: 0;
}

.revealer--right,
.revealer--left {
	top: 50%;
	left: 50%;
}

.revealer--top {
	bottom: 100%;
}

.revealer--bottom {
	top: 100%;
}

.revealer__layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ddd;
}

/* Three layer effect (effect-3) */

.anim--effect-3 .page:nth-child(2) {
	background: #ECF3A3;
}

.anim--effect-3 .revealer--animate .revealer__layer {
	-webkit-animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
	animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(2) {
	-webkit-animation-name: anim-effect-3-2;
	animation-name: anim-effect-3-2;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(3) {
	-webkit-animation-name: anim-effect-3-3;
	animation-name: anim-effect-3-3;
}

@-webkit-keyframes anim-effect-3-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	25%,
	75% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	25%,
	75% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-3-2 {
	0%,
	12.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-2 {
	0%,
	12.5% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-3-3 {
	0%,
	25% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-3 {
	0%,
	25% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%,
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}
