/* Viewport sizes based on column number and sidebar */
$viewport_xs: 	$item_width + $sidebar_width; /* 1 column */
$viewport_s: 	$item_width * 2 + $sidebar_width; /* 2 columns */
$viewport_m: 	$item_width * 3 + $sidebar_width; /* 3 columns */
$viewport_l: 	$item_width * 4 + $sidebar_width; /* 4 columns */
$viewport_xl: 	$item_width * 5 + $sidebar_width; /* 5 columns */
$viewport_xxl: 	$item_width * 6 + $sidebar_width; /* 6 columns */

@media screen and (min-width: $viewport_xs) {
	html,
	body,
	.container,
	.main {
		height: 100vh;
	}

	.main {
		height: 100%;
		margin-left: $sidebar_width;
	}

	.content__item {
		font-size: 1em;
	}

	.grid__item {
		padding: 45px 45px 30px;
	}
}

@media screen and (min-width: $viewport_s) {
	.grid {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	/* 2 columns */
	.grid__item {
		width: 50%;
		border: none;
	}

	.grid__item::before {
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;
		border: 12px solid #000;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
	}

	.grid__item:hover::before,
	.grid__item:focus::before {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    border: 12px solid rgba(0, 0, 0, 0) !important;
    border: none;
	}

	.grid__item--loading.grid__item::before {
		opacity: 0;
	}
}

@media screen and (min-width: $viewport_m) {
	/* 3 columns */
	.grid__item {
		width: 33.333%;
	}
}

@media screen and (min-width: $viewport_l) {
	/* 4 columns */
	.grid__item {
		width: 33.33%;
	}
}

@media screen and (min-width: $viewport_xl) {
	/* 5 columns */
	.grid__item {
		width: 33.33%;
	}
}

@media screen and (min-width: $viewport_xxl) {
	/* 6 columns */
	.grid__item {
		width: 33.33%;
	}
}

/* small screen changes for sidebar (it becomes an off-canvas menu) */
@media screen and (max-width: $viewport_xs - 1px) {
	.sidebar {
		-webkit-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: -webkit-transform 0.3s;
	}
	.sidebar.sidebar--open {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	.sidebar.sidebar--open ~ .main {
		pointer-events: none;
	}
	.top-bar {
		padding: 22px 15px 10px 60px;
	}
	.menu-toggle {
		display: inline-block;
	}
	.sidebar .close-button {
		opacity: 1;
		pointer-events: auto;
	}
	.title--full {
		font-size: 2em;
	}
	.content__item {
		padding: 80px 20px 40px;
	}
	.content .close-button {
		padding: 10px 20px;
	}
	.content .close-button::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		background: #eeeff0;
		border-bottom: 1px solid #eeeff0;
		width: 100vw;
		height: 100vh;
		pointer-events: none;
		z-index: -1;
	}
}

@media screen and (max-height: 580px) {
	body #cdawrap {
		display: none;
	}
}
