body {
  background: #fde8a2;
  color: #181a27;
  font-size: 18px;
  font-weight: 200;
}

em {
  color: #e73c25;
}

big {
  font-size: 300%;
}

.namebox {
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  display: inline-block;
  border: 10px solid #181a27;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.1em;
  position: relative;
  float: right;
  top: -310px;
  right: 15px;
}

.description {
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  margin-top: -45px;
  top: -35px;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
}

.player-number {
  font-size: 400px;
  font-weight: 900;
  letter-spacing: -45px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 346px;
  display: inline-block;
  width: 100%;
  height: 325px;
}

.ross {
  background-image: url(https://i.imgur.com/b4ngce4.gif);
}

.whitlatch {
  background-image: url(https://i.imgur.com/zChS5xh.gif);
}

.brzozowski {
  background-image: url(https://i.imgur.com/WSz0Ywp.gif);
}

.stats {
  font-weight: 800;
  font-size: 28px;
  line-height: 1.1em;
  letter-spacing: -2px;
}

.stat-name {
  color: #e73c25;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}
