@font-face {
  font-family: 'Fester';
  src: url('./../font/Fester-Semi-condensedBold.eot');
  src: url('./../font/Fester-Semi-condensedBold.eot?#iefix') format('embedded-opentype'),
       url('./../font/Fester-Semi-condensedBold.woff')       format('woff'),
       url('./../font/Fester-Semi-condensedBold.ttf')        format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fester';
  src: url('./../font/Fester-Semi-condensedBook.eot');
  src: url('./../font/Fester-Semi-condensedBook.eot?#iefix') format('embedded-opentype'),
       url('./../font/Fester-Semi-condensedBook.woff')       format('woff'),
       url('./../font/Fester-Semi-condensedBook.ttf')        format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fester';
  src: url('./../font/Fester-Semi-condensedMedium.eot');
  src: url('./../font/Fester-Semi-condensedMedium.eot?#iefix') format('embedded-opentype'),
       url('./../font/Fester-Semi-condensedMedium.woff')       format('woff'),
       url('./../font/Fester-Semi-condensedMedium.ttf')        format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Fester';
  background-color: #E5E5E4;
}

h2 {
  text-transform: uppercase;
  color: #0D3876;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 10px;
}

h2 span {
  font-weight: 400;
}

h5 {
  text-transform: uppercase;
  color: #DF1E35;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 8px;
}

hr {
  background: linear-gradient(to right, #df1e35 65%,#c7c6c5 65%);
  height: 5px;

  padding-left: 0;
}

img {
  position: inherit;
  z-index: 50;
}

.position {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 300;
  font-size: 2.15rem;
  letter-spacing: 15px;
  z-index: 100;
}

.photocred {
  color: #c7c6c5;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
}

.statbox {
  background-color: #5a628c;
  color: #fff;
  height: 85px;
  margin-bottom: 25px;
  padding: 25px;
  line-height: 1;
  overflow: hidden;
}

.statbox.big {
  background-color: #0D3876;
  max-width: 850px;
  height: 90px;
}

.statbox .num {
  font-size: 45px;
}

.statbox.big .num {
  font-size: 55px;
  padding-left: 45px;
}

.statbox .desc {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 5px;
}

.statbox.big .desc {
  margin-top: -5px;
  font-size: 30px;
  color: #DF1E35;
}

.statbox.tall {
  height: 100px;
}

.statbox.tall::after {
  content: '';
  position: relative;
  z-index: 0;
  width: 0;
  top: -175%;
  right: -50%;
  border-top: 100px solid #0D3876;
  border-left: 75px solid transparent;
  padding: 22%;
  z-index: 10;
}

.statbox.tall .col-xs-2.num {
  padding-top: 10px;
}

.statbox.tall .col-xs-6 {
  z-index: 50;
  text-align: right;
  color: #DF1E35;
}

.statbox.tall .col-xs-6.num {
  font-size: 2.4rem;
}

.statbox.small {
  max-width: 350px;
}

.ross-img, .nwo-img {
  position: relative;
}

.ross-img {
  left: -200px;
}

.nwo-img {
  left: -35px;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spin-left {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}

.spinner {
    position: absolute;
    top: 100px;
    left: 25px;
    display: inline-block;
    height: 400px;
    width: 400px;
    background: linear-gradient(to top right, #df1e35 50%,#c7c6c5 50%);
    border-radius: 50%;
    animation: spin 90s infinite linear;
    z-index: 10;
}

#ilana-credit {
  position: absolute;
  z-index: 20;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  top: 297px;
  left: 339px;
}

.spinner::after {
  content: '';
  position: absolute;
  background-color: #E5E5E4;
  width: 350px;
  height: 350px;
  margin: 25px;
  border-radius: 50%;
}

.basketball::before {
  position: absolute;
  z-index: 100;
  content: '';
  height: 150px;
  width: 150px;
  border: 6px dashed #0D3876;
  top: 128px;
  left: -14px;
  border-radius: 50%;
  animation: spin-left 60s linear infinite;
}

.poll {
  font-size: 2.25rem;
}

.poll .row {
  padding-bottom: 15px;
}

.poll .row::before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 0;
  border-top: 45px solid #df1e35;
  border-right: 35px solid transparent;
  padding: 25px;
}

.poll .num {
  color: #fff;
}

.poll .score {
  font-weight: 300;
}

.poll h2 {
  letter-spacing: 2px;
}

.poll h2 span {
  color: #df1e35;
}

.logo img {
  margin: auto;``
}
