@font-face {
  font-family: 'gobold';
  src: url('../font/gobold_bold.woff2') format('woff2'), url('../font/gobold_bold.woff') format('woff'), url('../font/gobold_bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'gobold';
  src: url('../font/gobold_high.woff2') format('woff2'), url('../font/gobold_high.woff') format('woff'), url('../font/gobold_high.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/*BRACKETR STYLING*/

div.jQBracket .round {
  width: 150px;
}

div.jQBracket .team {
  background-color: #ffffff !important;
  width: 150px;
}

div.jQBracket .team {
  color: #58595B !important;
}

div.score {
  width: 35px !important;
  color: #58595B !important;
}

.team.win .label {
  background-color: #FAA320;
}

.team.na .label, .np .team .label {
  background-color: #FFD6A1;
}

.team.win .score {
  background-color: #248DC2;
}

.team .score {
  background-color: #A7DFF2
}

div.jQBracket .connector, div.jQBracket .connector div.connector, div.jQBracket .np .connector, div.jQBracket .np .connector div.connector {
  border-color: #A7DFF2;
}

div.jQBracket .team.highlight:not(.na) .label {
  background-color: #58595B !important;
  color: #fff !important;
}

div.jQBracket .team div.score {
  margin-right: 0;
  float: right;
  padding: 3px;
  text-align: center;
  width: 25px;
}

div.jQBracket .team div.label {
  white-space: initial;
  overflow: visible;
}
.bracket-container {
  width: 100%;
  overflow: scroll;
}
.brackets {
  overflow: scroll;
  display: inline-block;
  white-space: nowrap;
  width: 1600px
}

.left-bracket {
  float: left;
}
.right-bracket {
  float: right;
}
.left-bracket, .right-bracket {
  display: inline-block;
}

.final-bracket {
  display: inline-block;
  position: relative;
  float: left;
  height: 0;
  right: 5%;
  bottom: 75px;
}

/*OTHER STYLES*/

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 25px;
  padding: 10px;
  background-color: #e7e7e7;
  border-bottom: 1px solid #c3c3c3;
  z-index: 200;
}

.smaller {
  font-size: 12px;
  line-height: 1;
}

.twoLine {
  font-size: 11px;
  line-height: 1;
}

.threeLine {
  font-size: 9px;
  line-height: .9;
}

body {
  margin-top: 70px;
  background-color: #eee;
}

.lead-text, .sponsors {
  font-family: 'gobold', sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #58595B;
}

.sponsors {
  font-size: 1.5rem;
  letter-spacing: 8px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.advert {
  width: 300px;
  height: 250px;
  border: 4px solid #FFD6A1;
  display: inline-block;
  margin: 5px;
}

footer {
  text-align: center;
  border-top: 2px solid #fff;
  padding: 5px;
}

@media screen and (max-width: 1400px) {
  .brackets {
    transform-origin: top left;
    transform: scale(.8);
    margin-right: -300px;
  }
}

@media screen and (max-width: 800px) {
  .brackets {
    transform-origin: top left;
    transform: scale(.7);
    margin-right: -500px;
  }
}

.vote-container {
  max-width: 1400px;
  margin: auto;
  font-family: 'gobold', sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #58595B;
}
