@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,400i');

body {
  font-size: 1em;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
  background-color: #EEE;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  margin-bottom: 10px;
  font-size: 3rem;
}

h2 {
  margin-bottom: 10px;
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

h5 {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 10px;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
}

a:hover {
  color: #AAA;
}

a:last-of-type {
  margin-bottom: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #000;
}

iframe {
  width: 100%;
}

iframe.join-form {
  height: calc(100% - 59px);
}

section {
  min-height: calc(100vh - 100px);
  height: auto;
  padding: 50px;
}

section.intro {
  display: flex;
  justify-content: center;
  background: linear-gradient(transparent, transparent, #000), url('https://snworksceo.imgix.net/dpn/0f26a007-001d-4745-8088-7db4e3297602.sized-1000x1000.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 150px);
}

section.editorial {
  background-color: #AA1E22;
  background: linear-gradient(rgba(170, 30, 34, 0.8), rgba(170, 30, 34, 0.8)), url('https://snworksceo.imgix.net/dpn/917417c6-2a39-487a-bd75-8913f3427445.sized-1000x1000.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}

section.editorial a {
  color: #DDD;
}

section.editorial a:hover {
  color: #AAA;
}

section.business {
  background-color: #EEE;
  background: linear-gradient(rgba(238, 238, 238, 0.8), rgba(238, 238, 238, 0.8)), url('https://snworksceo.imgix.net/dpn/5803b1e8-72a6-4810-9770-60123f4a066d.sized-1000x1000.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.business a {
  color: #AA1E22;
}

section.business a:hover {
  color: #777;
}

section.street {
  background-color: #44BFBF;
  background: linear-gradient(rgba(68, 191, 191, 0.8), rgba(68, 191, 191, 0.8)), url('https://snworksceo.imgix.net/dpn/a7c7d5b9-59ac-420c-bd26-cfd44d0e52d2.sized-1000x1000.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}

section.street a {
  color: #044747;
}

section.street a:hover {
  color: #1b7777;
}

section.utb {
  background-color: #446CB3;
  background: linear-gradient(rgba(68, 108, 179, 0.8), rgba(68, 108, 179, 0.8)), url('https://snworksceo.imgix.net/dpn/7a898e92-4b83-490a-831b-b04505bcb007.sized-1000x1000.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}

section.utb a {
  color: #CCC;
}

section.utb a:hover {
  color: #999;
}

section.join {
  background-color: #EEE;
  height: calc(100vh - 100px);
}

p.overall {
  margin: 20px auto;
  text-align: center;
}

.join-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: 1px solid #AA1E22;
  border-radius: 2px;
  background-color: #AA1E22;
  color: #FFF;
  cursor:pointer;
}

.join-button:hover {
  color: #FFF;
  border: 1px solid #FFF;
}

.logo {
  margin-top: 5px;
}

.intro-text {
  color: #FFF;
  text-align: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.section {
  width: 65%;
  margin: auto;
}

.section.form {
  height: calc(100% - 63px);
}

.departments {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.departments span {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.ed-tab, .biz-tab {
  cursor: pointer;
}

.ed-text, .biz-text {
  visibility: hidden;
  margin: auto;
  height: 0;
  width: 90%;
}

.ed-text p, .biz-text p {
  margin: 0;
  height: 0;
}

.ed-text.active, .biz-text.active {
  visibility: visible;
  height: auto;
}

.ed-text.active p, .biz-text.active p {
  margin: 1em 0;
  height: auto;
}

.ed-tab.active {
  font-weight: 700;
  border-bottom: 3px solid #FFF;
}

.biz-tab.active {
  font-weight: 700;
  border-bottom: 3px solid #000;
}

.inline-link {
  display: inline-block;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .departments {
    flex-wrap: wrap;
  }

  .departments span {
    width: 33%;
  }

  .ed-text, .biz-text {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .section {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  section {
    min-height: calc(100vh - 40px);
    height: auto;
    width: calc(100vw - 30px);
    padding: 20px 15px;
  }

  section.intro {
    min-height: calc(100vh - 90px);
  }

  section.join {
    height: calc(100vh - 40px);
  }

  .section.form {
    height: calc(100% - 86px);
  }
}

@media screen and (max-width: 425px) {
  .biz-body .departments span {
    width: 50%;
  }

  .join-button {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 40px;
    padding: 10px;
  }

  .intro-text {
    margin-bottom: 60px;
  }
}
