@import url('https://fonts.googleapis.com/css?family=Barlow%7CLekton:400,700&display=swap');

body {
	font-family: 'Lekton', sans-serif;
  background-color: #f9f9f9;
}

footer {
	text-align: center;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-section {
  height: calc(100vh - 50px);
  max-width: 100%;
  width: 100%;
  background-image: url(https://s3.amazonaws.com/snwceomedia/dpn/8cc750db-fbc8-4398-94dd-f738fe4f996d.original.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #e3e9e9;
}

.head-subhead{
  color: white;
  font-size: 150px;
  font-weight: 300;
}

.head-header{
  color: white;
  font-size: 190px;
  font-weight: 600;
  line-height: 75px;
}

.header-text{
  margin-top: 90px;
  margin-left: 70px;
}

.boxes {
  display: flex;
}

.boxes h3 {
  margin-left: 20px;
  padding-top: 5px;
  color: #E2E8E6;
}

.boxes:hover .front-box{
  background-color: #F6C415;
}

.boxes:hover .back-box {
  border-color: #F6C415;
}

.boxes:hover h3 {
  color: #F6C415;
}

.boxes:hover a {
  text-decoration: none;
}

.front-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
  background-color: #63C083;
  z-index: 100;
}

.back-box {
  position: relative;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 30px;
  border: 2px solid #63C083;
}

.cutout-1{
  position: absolute;
  bottom: -129px;
  width: 600px;
  right:0px;
}

.cutout-2{
  position: absolute;
  bottom: -145px;
  width: 600px;
  left:0px;
}

.cutout-3{
  position: absolute;
  top: -150px;
  left: -200px;
  width: 750px;
}

.article-header {
	height: 60px;
	display: flex;
  align-items: center;
  text-decoration: underline;
  text-decoration-color: #63C083;
  text-underline-position: under;
	color: white;
	margin-top: 10px;
	padding-bottom: 15px;
	font-size: 36px;
}

.grey {
  color: #425666;
}

.shortcuts {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #425666;
}

.shortcuts .container {
	margin-bottom: 0;
}

.mobile-container {
	margin: 0 15px;
}

.ad-block {
  background-color: #E2E8E6;
}

.ad {
	display: flex;
	justify-content: center;
}

.video {
	display: flex;
	background-color: #E2E8E6;
}

.video .container {
  padding-bottom: 30px;
}

.video-two .container {
  padding-bottom: 30px;
}

.standings, .video-two {
  display: flex;
  background-color: #425666;
}

.offense, .defense {
  background-color: #E2E8E6;
}

.standings-header{
  display: inline;
  float: left;
  font-weight: bolder;
  color: #63C083;
}

.games-header{
  display: inline;
  float: left;
  font-weight: bolder;
  color: #63C083;
  font-size: 40px;
}

.standings-subhead{
  display: inline;
  margin-left: 10px;
  margin-bottom: 13px;
  color: #fff;
}

.games-subhead{
  display: inline;
  margin-left: 10px;
  margin-bottom: 12px;
  color: white;
}

.standings-top, .games-top{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.standings-table{
  width: 100%;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.standings-table .right{
  float: right;
  padding-top: 3px;
  border: 1px solid #63C083;
  text-align: center;
  width: 70%;
  margin-bottom: 10px;
  font-size: 14px;
}

.filled-cell {
  background-color: #63C083
}

.numbered {
  counter-reset: rowNumber;
}
.numbered tr {
  counter-increment: rowNumber;
}
.numbered tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
  color: #F6C415;
}

.lines {
  width: 25%;
}

.short {
  margin-right: 40px;
}

.standings-line{
  height: 3px;
  background-color: #F6C415;
  margin-top: -10px;
  text-align: left;
}

.games-line{
  height: 10px;
  background-color: #f9f9f9;
  margin-top: -10px;
}

.game-lines {
  width: 33%;
  margin-bottom: 20px;
}

.highlighted-text {
  background-color: #63C083;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  padding: 5px 30px;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0px 4px 10px rgba(27, 34, 39, 0.3);
}

.highlighted-text:hover {
	background-color: #56966C;
  text-decoration: none;
  color: #fff;
}

.welcome-text {
  font-size: 60px;
  text-align: center;
  color: #8A98A0;
}

.yellow {
  color: #F6C415;
}

.green-back {
  background-color: #0F484D;
}

.flex-start {
  justify-content: flex-start !important;
}

.overflow-parent {
  position: absolute;
}

.overflow-child {
  position: relative;
  top: -33px;
}

#welcome-section {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color:#425666;
}

.square {
  width: 100%;
  /* border: 5px solid red; */
  position: relative;
  margin-top: 40px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.welcome-block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.article-title {
	/* margin-bottom: 10px;
	margin-left: 10px;
  margin-right: 10px; */
  font-family: 'Barlow', sans-serif;
	padding: 10px 15px;
	color: white;
	/* font-weight: bold; */
	background-color: rgba(0, 0, 0, 0.5);
}

.grey-background {
  background-color: #425666 !important;
}

.schedule {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #425666;
	color: white;
}

.schedule-2018 .date {
	margin-bottom: 36px;
}

.game-img {
  margin-bottom: 20px;
  width: 100%;
}

.game {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 15px;
}

.features {
  background-color:#E2E8E6;
}

.oppTeam{
  text-align: center;
  font-size: 18px;
	min-height: 44px;
}

.score{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.date{
  text-align: center;
  font-size: 16px;
}

.shortcuts .container {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.link {
	display: flex;
	align-items: center;
}

.link h3 {
  font-weight: 400;
}

.article {
	/* display: flex; */
	align-items: flex-end;
	/* position: relative; */
	background-position: center;
	background-size: cover;
  margin-bottom: 20px;
	/* height: 500px; */
}

.youtube-embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.youtube-embed iframe, .youtube-embed embed, .youtube-embed object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.a1{
  background-image: url("https://snworksceo.imgix.net/dpn/008f729a-115d-4816-b823-af05529b6013.sized-1000x1000.jpg?w=1000");
}

.a2{
  background-image: url("https://snworksceo.imgix.net/dpn/8e90dfd8-9203-404f-974c-99e7841aca95.sized-1000x1000.jpg?w=1000");
}

.a3{
  background-image: url("https://snworksceo.imgix.net/dpn/6f8c0175-f210-4b91-939e-9eb370884050.sized-1000x1000.jpg?w=1000");
}

.a4{
  background-image: url("https://snworksceo.imgix.net/dpn/28e0905b-1a68-47e0-ada9-d89e0e154c5c.sized-1000x1000.jpg?w=1000");
}

.a5{
  background-image: url("https://snworksceo.imgix.net/dpn/cd2013e0-57d4-41be-9021-0196ec74241e.sized-1000x1000.jpg?w=1000");
}

.a6{
  background-image: url("https://snworksceo.imgix.net/dpn/f3a10a6a-3181-428b-baf4-ccc3a56a15da.sized-1000x1000.jpg?w=1000");
}

.a7{
  background-image: url("https://snworksceo.imgix.net/dpn/e66f2516-d4ba-4294-8876-885a51cb8cab.sized-1000x1000.jpg?w=1000");
}

.a8{
  background-image: url("https://snworksceo.imgix.net/dpn/25af1881-6de5-4e5b-9f17-5e6875eaf983.sized-1000x1000.jpg?w=1000");
}

.a9{
  background-image: url("https://snworksceo.imgix.net/dpn/ca2c6b80-5465-467c-8119-8a352acc4c67.sized-1000x1000.jpg?w=1000");
}

.a10{
  background-image: url("https://snworksceo.imgix.net/dpn/b5cba382-68a2-43ea-854c-45616eb8d648.sized-1000x1000.jpg?w=1000");
}

.a11{
  background-image: url("https://snworksceo.imgix.net/dpn/f41d04dd-423a-47d7-b80f-8834befb0743.sized-1000x1000.jpg?w=1000");
}

.a12{
  background-image: url("https://snworksceo.imgix.net/dpn/2625e8b8-e5a8-4097-867e-f51e3a4b504a.sized-1000x1000.jpg?w=1000");
}

@media only screen and (max-width: 1630px) {
	.shortcuts .container {
		margin-top: 120px;
		margin-bottom: 70px;
	}
}

@media only screen and (max-width: 1000px) {
  .cutout-1, .cutout-2, .cutout-3{
    display: none
  }

	.shortcuts .container {
		margin-top: 50px;
		margin-bottom: 30px;
	}

  .head-subhead{
    font-size: 100px;
  }

  .head-header{
    font-size: 150px;
  }

  .header-text{
    margin-top: 50px;
    margin-left: 0px;
  }
  .standings-top, .games-top{
    flex-direction: column;
    align-items: flex-start;
  }
  .standings-subhead, .games-subhead{
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
  .standings-header, .games-header{
    margin-bottom: -10px;
  }

  .standings-table{
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .head-subhead{
    font-size: 90px;
  }

  .head-header{
    font-size: 100px;
  }

  .header-text{
    margin-top: 50px;
  }

	.schedule-2018 .oppTeam {
		margin-bottom: 0.5rem;
  }
  
  .header-section {
    height: 60vh;
  }

  .ivy-standings {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 576px) {
	.mobile-container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
  }
  
  .header-section {
    background-image: url(https://s3.amazonaws.com/snwceomedia/dpn/00b394a3-1aaf-4678-80a3-80c1500a172f.original.png);
    height: calc(95vh - 50px);
  }

	.shortcuts .row {
		margin-bottom: 0;
  }

  #welcome-section {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .head-subhead{
    font-size: 60px;
  }

  .head-header{
    font-size: 80px;
  }

  .header-text{
    margin-top: 50px;
  }

	.article-header {
		font-size: 30px;
	}
}
