#u1614-2,#u1533-2,#u1523-2,#u1528-2,#u1522-2,#u1530-2,#u1520-2,#u1534-2,#u1524-2,#u1527-2,#u1521-2,#u1525-2,#u1526-2,#u1531-2,#u1532-2,#u1529-2
{
	font-family: chunk-n4, serif;
}

#u1533-6,#u1523-6,#u1528-6,#u1522-6,#u1530-6,#u1520-6,#u1534-6,#u1524-6,#u1527-6,#u1521-6,#u1525-6,#u1526-6,#u1531-6,#u1532-6,#u1529-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1566-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1601-4
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u1614-4,#u1533-4,#u1523-4,#u1528-4,#u1522-4,#u1530-4,#u1520-4,#u1534-4,#u1524-4,#u1527-4,#u1521-4,#u1525-4,#u1526-4,#u1531-4,#u1532-4,#u1529-4,#u1602-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

