@font-face {
  font-family: 'neuzeit-grotesk';
  src: url("https://use.typekit.net/af/342b40/0000000000000000000178a6/27/l?subset_id=1&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/342b40/0000000000000000000178a6/27/d?subset_id=1&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/342b40/0000000000000000000178a6/27/a?subset_id=1&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'neuzeit-grotesk';
  src: url("https://use.typekit.net/af/ae9007/0000000000000000000178a7/27/l?subset_id=1&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/ae9007/0000000000000000000178a7/27/d?subset_id=1&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/ae9007/0000000000000000000178a7/27/a?subset_id=1&fvd=n7&v=3") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v12/0QIvMX1D_JOuMwr7I_FMl_E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url(https://fonts.gstatic.com/s/lora/v12/0QIhMX1D_JOuMw_LIftLtfOm8w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'neuzeit-grotesk', sans-serif;
	background: #F9F9F9;
}

h1, h2, h3, h4 {
  text-align: center;
}

h4 {
  color: #888;
  font-weight: 400;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  font-family: 'Lora', georgia, serif;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #d3d3d3;
}

hr {
  margin: 20px auto;
}

footer {
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.hidden {
  display: none;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #FFF;
  border-bottom: 1px solid #777;
  z-index: 200;
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.navbar-center img {
  height: 25px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container .intro {
  max-width: 900px;
	margin: 60px auto;
	padding: 2em;
	text-align: center;
}

.container .intro h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 700;
  color: #aa1e22;
}

.container .intro h3 {
	line-height: 1.3;
	margin: 0;
	font-weight: 400;
  color: #aa1e22;
}

.branches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.branch-link {
  padding: 5px 10px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.candidate {
  width: 33%;
  padding: 10px;
}

.candidate img {
  width: 100%;
}

.vote-btn {
	padding: 5px 10px;
	border-radius: 2px;
	background: #AA1E22;
	color: #FFF;
}

@media screen and (max-width: 768px) {
  .candidate {
    width: 100%;
  }
}
