@font-face {
  font-family: 'Gilroy';
  src: url('../font/gilroy-bold-webfont.woff2') format('woff2'), url('../font/gilroy-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/gilroy-heavy-webfont.woff2') format('woff2'), url('../font/gilroy-heavy-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/gilroy-medium-webfont.woff2') format('woff2'), url('../font/gilroy-medium-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/gilroy-light-webfont.woff2') format('woff2'), url('../font/gilroy-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/gilroy-thin-webfont.woff2') format('woff2'), url('../font/gilroy-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

header, footer, h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy';
}

address {
  color: #7c7c7c;
  font-style: italic;
}

hr {
  width: 60%;
  border: 0;
  height: 1px;
  background: #5C91CA;
  opacity: 0.8;
  text-align: center;
  color: #7c7c7c;
  margin-top: 25px;
}

hr:after {
    content: "\265B";
    display: inline-block;
    position: relative;
    top: -0.9em;
    font-size: .9em;
    padding: 0 0.25em;
    background: #fff;
}

h2 {
  font-weight: 600;
  padding-bottom: 5px;
}

h3 {
  padding-top: 25px;
  font-weight: 200;
  display: block;
  font-size: 2rem;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

h2 span {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #5C91CA;
}

figcaption {
  color: #7c7c7c;
  font-family: 'PT Serif', serif;
  font-style: italic;
  height: 0;
	transform: rotate(-90deg);
	transform-origin: left 100%;
  float: left;
  margin-left: -18px;
  font-size: 12px;
}

nav {
  position: fixed;
  /*text-align: center;*/
  /*margin: auto;*/
}

.img-fluid {
  width: 100%;
}
