@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:300,400');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

li {
  padding-top: 10px;
}

.top-section {
  height: 50vh;
  width: 100%;
  background-image: url('./assets/bballm.png');
  background-color: #607EA0;
  background-position: 70px center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.top-section-overlap {
  height: 150px;
  background-color: #607EA0;
}

.standings {
  height: auto;
  width: 100%;
  margin-top: -150px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.standings-header {
  color: white;
  background-color: #507199;
  padding-top: 15px;
  padding-bottom: 7px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;;
  align-items: center;
}

.toggle-select {
  flex-direction: column;
  margin-right: 10px;
}

.flex-table {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.standings-table:hover {
  background-color: #f9f9f9;
}

.top-row {
  background-color: #607EA0;
  padding: 5px 0px;
  color: white;
  font-weight: lighter;
  font-size: 20px;
}

.cell {
  box-sizing: border-box;
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}

.standings-table .school-cell {
  text-align: left;
}

.rank-cell {
  width: 10%;
}

.school-cell {
  width: 45%;
}

.change-cell {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-cell {
  width: 25%;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

#hidden-hr {
  visibility: hidden;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: 2px 0;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border-color: #70C46E;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-color: #EA6060;
  margin-bottom: 10px;
}

.neutral {
  border-width: 2px 0px 0px 0px;
  padding: 1px 5px;
  background-color: #adafb2;
  border-color: #adafb2;
}

.logo-img {
  width: 30px;
  margin: 0px 20px;
}

.section-title {
  text-align: center;
}

.ad {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

.margin-top {
  margin-top: 20px;
}

h2.section-title {
  /* border-bottom: 1px solid #e0e0e0; */
  padding-bottom: 0px;
  margin-bottom: 15px;
  font-size: 48px;
}

.tb-title {
  color: rgb(240, 117, 53);
  text-align: left;
  padding-right: 100px;
}

h3.section-title {
  margin-bottom: 16px;
  margin-top: 15px;
}

@media only screen and (min-width: 992px) {
  .match-day:first-child {
      border-right: 1px solid #e1e4ea;
  }
}

.match {
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
}

.home-indc {
  margin-bottom: 0px;
  margin-left: 5px;
  color: #c3c3c3;
}

.match-section {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 5px;
}

.team-name {
  margin-bottom: 0px;
  font-size: 20px;
}

td p {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
}

.logo {
  display: table-cell;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
}


td {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

td:first-child {
  width: 25px;
}

.win-btn {
  background: #A3AFC1;
  border: none;
  color: white;
  padding: 10px 25px;
  margin-left: auto;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.win-btn.winning {
  background: #6A7D99;
}

.win-btn:hover {
  background: #6A7D99;
}

.win-btn:disabled {
  cursor: not-allowed;
}

.win-btn:hover:disabled {
  background: #A3AFC1;
}

.women-btn {
  background-color: #c64b4bc7;
}

.women-btn:hover {
  background-color: #c64b4b;
}

.women-btn.winning {
  background-color: #c64b4b;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px;
  background-color: #000;
}

.record {
  font-size: 16px;
  padding-left: 10px;
  color: #b2b2b2;
  font-style: italic;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  height: 100px;
  background-color: #f9f9f9;
  width: 100%;
  text-align: center;
}

.women {
  background-color: #c64b4b;
}

.header {
  color: white;
}

.women-header {
  background-color: #c64b4b;
  background-image: url('./assets/bballw.png');
}

.women-accent {
  background-color: #c64b4bc7;
}

.women-border {
  border-color: rgb(198, 75, 75) !important;
}

.tiebreakers-left {
  text-align: left;
  margin-left: 60px;
}

.tiebreakers-card {
  border-top: solid;
  border-width: thick;
  border-color: rgb(97, 127, 161);
  box-shadow: 0 3px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.tiebreaker-row {
  margin-top: 20px;
  margin-bottom: 30px;
}

.tiebreaker-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 10px;
  text-align: left;
}

.tiebreaker-btn {
  margin: 10px;
  background: white;
  border: none;
  color: rgb(240, 117, 53);
  padding: 10px 15px;
  margin-left: auto;
  margin-right: 10px;
  text-align: center;
}

.tb-description-above {
  margin-bottom: 5px;
  margin-top: -5px;
}

.tb-description-below {
  margin-bottom: 0px;
}

.with-sideline {
  padding-left: 32px;
  border-left: solid;
  border-left-color: rgb(240, 117, 53);
  margin-left: 15px;
}

.number {
  background-color: rgb(240, 117, 53);
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 2.4;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  .top-section {
    height: 33vh;
    background-position: center center;
    background-size: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .top-section {
    height: 25vh;
    background-position: center center;
    background-size: 90%;
  }

  .tiebreakers-left {
    margin: 0 auto;
    width: 90%;
  }

  .tiebreakers-card {
    margin: 40px auto;
    width: 90%;
  }

  h2.section-title {
    font-size: 40px;
  }

  .standings-header {
    align-items: flex-start;
    flex-direction: column;
  }

  .toggle-select {
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
  }
}
