.featured-img {
    max-height: 200px;
    max-width: 200px;
    width: auto;
    position: absolute;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.featured-bubble {
    border-radius: 50%;
    background-color: blue;
    height: 200px;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: center
}

.bubble-img {
  max-height: 100px;
  max-width: 100px;
  width: auto;
  position: absolute;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

.bubble {
  border-radius: 50%;
  background-color: blue;
  height: 100px;
  width: 100px;
  position: relative;
  display: flex;
  justify-content: center
}

.curr-profile {
  display: flex;
}
.cand-info {
  display: flex;
  align-items: center;
}

.feat-name, .feat-office {
  font-size: 30px;
}

.basic-info {
  margin: 15px;
}

.all-candidates {
  display: flex;
}
