body {
  font-family: 'Avenir Next';
  text-align: center;
  color: #333333;
}

h1 {
  font-weight: 600;
  font-size: 40px;
}

h2 {
  font-weight: 500;
  font-size: 30px;
}

hr {
  width: 80%;
  margin-top: 80px;
}

.intro {
  padding-bottom: 20px;
}

#pa-div, #other-div {
  margin-top: 60px;
}


/* featured candidate box */
.featured-slide {
  height: 250px !important;
  display: flex !important;
}

.featured-img {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
}

.featured-bubble {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-left: 50px;
}

.cand-info {
  width: inherit;
  margin-top: 30px;
  margin-left: 20px
}

.feat-name, .feat-office {
  font-size: 30px;
}

.name, .aff, .office {
  text-align: left;
}

.name {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.aff-off {
  width: 100%;
  display: flex;
}

.office {
  width: 50%;
  margin-left: 20px;
}

.aff {
  border-right: 1px solid #9B9B9B;
  width: 50%;
}

.name .text {
  font-size: 24px;
  font-weight: 500;
}

.text {
  font-size: 22px;
}

.label {
  font-size: 18px;
  color: #9B9B9B;
}


/* candidate carousel */
.bubble-img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.bubble {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

.slick-track {
  height: 104px;
}

.slick-prev:before {
  color: black !important;
}

.slick-next:before {
  color: black !important;
}

.all-candidates .slick-current .bubble, .pa-all-candidates .slick-current .bubble {
  opacity: 1;
}

.all-candidates, .pa-all-candidates {
  width: calc(100% - 50px);
  margin: auto;
}

.slick-slide .dem-border, .slick-slide .rep-border, .slick-slide .uup-border  {
  width: 100px;
  height: 100px;
  padding: 8px;
  border: none;
}

.slick-current .outer-bubble {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-style: solid;
  padding: 7px;
}

.slick-current .dem-border {
  border-color: #00B6BD;
}

.slick-current .rep-border {
  border-color: #EE645B;
}

.slick-current .uup-border {
  border-color: #81629C;
}

.slick-track  {
  height: 125px;
}

.slick-slide {
  outline: none !important;
}


/* legend / party info */
.box {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.legend {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
}

.party-text {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.party-section  {
  display: flex;
}

.dem-box, .rep-box, .uup-box {
  border-style: solid;
  border-width: 3px;
}

.dem-box {
  border-color: #00B6BD;
  background-color: #77CDD5;
}

.rep-box {
  border-color: #EE645B;
  background-color: #F69687;
}

.uup-box {
  border-color: #81629C;
  background-color: #AF86D3;
}

/* party colors */
.democrat {
  background-color: #00B6BD;
}

.republican {
  background-color: #EE645B;
}

.uup {
  background-color: #81629C;
}


/* break point for mobile */
@media screen and (max-width: 480px) {
  .legend {
    flex-direction: column;
    padding: 0 50px 0 50px;
  }

  .featured-slide {
    flex-direction: column;
    align-items: center;
    height: 420px !important;
  }

  .featured-bubble {
    margin-left: 0;
  }

  .text, .label {
    text-align: center;
  }

  .aff, .office {
    border: none;
    margin: 5px;
    width: 100%;
  }

  .aff-off {
    flex-direction: column;
    align-items: center;
  }

  .office {
    margin-left: 0;
  }

  .name {
    margin-bottom: 5px;
  }

  .bubble-img {
    max-width: 80px;
    border-radius: 50%;
  }

  .bubble {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.5;
  }

  .slick-current .outer-bubble {
    border-radius: 50%;
    width: 80px;
    border-style: solid;
    padding: 7px;
  }

}

@media screen and (max-width: 320px) {
  .bubble-img {
    max-width: 60px;
    border-radius: 50%;
  }

  .bubble {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    opacity: 0.5;
  }

  .slick-current .outer-bubble {
    border-radius: 50%;
    width: 60px;
    border-style: solid;
    padding: 7px;
  }
}

/* slick responsive */
/* width 100% for everything in curr profile */
}
