@import url("https://use.typekit.net/wkt1nhz.css");

body {
  font-family: 'futura-pt', sans-serif;
  font-size: 1rem;
  max-width: 900px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 5em;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin-top: 50px;
  margin-bottom: 35px;
  display: flex;
}

.intro {
  flex-direction: column;
  align-items: center;
}

.intro img {
  width: 70%;
  margin-bottom: 20px;
}

.intro p {
  width: 70%;
}

.grid {
  position: relative;
  margin: 50px auto;
  margin-left: -5px;
  margin-right: 5px;
}

.item {
  display: block;
  position: absolute;
  width: 210px;
  height: 210px;
  margin: 5px;
  z-index: 1;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  overflow: hidden;
}

.item p {
  margin: 0;
}

.item.content-h {
  width: 435px;
  height: 210px;
}

.item.content-v {
  width: 435px;
  height: 432px;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  position: relative;
  padding: 10px;
}

.item .image {
  height: 100%;
}

.item.content-v .image {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-right: 10px;
  float: left;
  display: inline-block;
}

.item.content-h .image {
  height: 100%;
  width: 50%;
  overflow: hidden;
  margin-right: 10px;
  float: left;
  display: inline-block;
}

.image img {
  height: 100%;
}

.item.content-h img {
  height: 100%;
}

.item.content-v img {
  width: 100%;
  margin-bottom: 10px;
  float: left;
  display: inline-block;
}

[style~="translateY(0px)"] {

}

@media screen and (max-width: 450px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    font-size: 3em;
  }

  section {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .intro p {
    width: 100%;
  }

  .item {
    width: 46%;
    height: 42vw;
  }

  .item.content-h, .item.content-v {
    width: 100%;
  }

  .item.content-h {
    height: 270px;
  }

  .item.content-v {
    height: auto;
  }
}
