body {
  font-family: 'Quattrocento';
  background-color: #F7F9FC;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #DDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #AA1E22;
}

a:hover, a:active {
  text-decoration: none;
  color: #888;
}

a.article {
  text-decoration: none;
  color: #333;
}

a:hover.article h4, a:active.article h4 {
  text-decoration: none;
  color: #888;
}

a:hover.article h3, a:active.article h3 {
  text-decoration: none;
  color: #888;
}

h1 {
  font-size: 70px;
}

h2, h3, h4 {
  margin-top: 0;
}

h3 {
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
}

.navbar {
  background-color: #EEE;
  border-color: #DDD;
  display: flex;
  justify-content: center;
}

.main {
  margin-top: 50px;
}

.intro {
  margin-bottom: 30px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article.last {
  flex: 0 0 33%;
  padding-right: 5px;
  margin-right: 4px;
}

.resources {
  flex: 2 0 66%;
}

.panel {
  background-color: #EEE;
  border-radius: 2px;
  height: 100%;
}

.panel-heading {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .article {
    width: 100%;
    flex: none;
    padding-left: 0;
    padding-right: 0;
  }

  .article.last {
    flex: none;
    padding-right: 0;
    margin-right: 0;
  }
}
