body {
  font-family: 'Quattrocento';
  background-color: #F7F9FC;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #DDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

a.article {
  text-decoration: none;
  color: #333;
}

a:hover.article h4, a:active.article h4 {
  text-decoration: none;
  color: #888;
}

h1 {
  font-size: 70px;
}

h4 {
  margin: 0;
}

.navbar {
  background-color: #EEE;
  border-color: #DDD;
  display: flex;
  justify-content: center;
}

.main {
  margin-top: 50px;
}

.intro {
  margin-bottom: 30px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.panel {
  background-color: #EEE;
  border-radius: 2px;
  height: 100%;
}

.panel-heading {
  padding: 0;
}

.resources {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .article {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
