.version.index /* version checker */
{
	color: #0000F5;
	background-color: #752668;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -116px;
}

#pu176
{
	width: 0.01px;
	margin-left: -100px;
}

#u176
{
	z-index: 2;
	min-height: 806px;
}

#u176-bw
{
	z-index: 2;
	min-height: 806px;
	height: 806px;
}

#u247
{
	z-index: 3;
}

#u247_position_content
{
	padding-top: 94px;
	padding-bottom: 30px;
}

#u191-4
{
	z-index: 8;
	left: 189px;
}

#editorial
{
	left: 569px;
	margin-top: 703px;
}

#u194-4
{
	z-index: 12;
	left: 343px;
	margin-top: 250px;
}

#pu81-4
{
	width: 0.01px;
	left: 169px;
	margin-top: 34px;
	position: relative;
}

#u81-4
{
	z-index: 16;
	width: 97px;
	margin-right: -10000px;
}

#u85-4
{
	z-index: 56;
	margin-right: -10000px;
	left: 104px;
}

#u86-4
{
	z-index: 60;
	margin-right: -10000px;
	left: 181px;
}

#u88-4
{
	z-index: 24;
	margin-right: -10000px;
	left: 258px;
}

#u87-4
{
	z-index: 32;
	margin-right: -10000px;
	left: 325px;
}

#u89-4
{
	z-index: 40;
	margin-right: -10000px;
	left: 460px;
}

#u90-4
{
	z-index: 52;
	margin-right: -10000px;
	left: 539px;
}

#u92-4
{
	z-index: 64;
	margin-right: -10000px;
	left: 655px;
}

#reporting
{
	left: 599px;
	margin-top: 442px;
}

#u242
{
	z-index: 4;
	width: 904px;
	left: -15px;
	margin-top: 22px;
}

#u247-bw
{
	z-index: 3;
	margin-top: 693px;
	height: 2506px;
}

#u193
{
	z-index: 83;
	padding-bottom: 15px;
}

#u196-4
{
	z-index: 88;
	width: 205px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 245px;
}

#pu254
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 490px;
}

#u254
{
	z-index: 109;
	width: 180px;
	min-height: 19px;
}

#u197-4
{
	z-index: 92;
	margin-left: 1px;
	margin-top: 9px;
}

#u253-4
{
	z-index: 96;
	width: 211px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 743px;
}

#u193-bw
{
	z-index: 83;
	height: 90px;
}

#u195-4
{
	z-index: 84;
	width: 280px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 757px;
	left: 226px;
}

#pu248
{
	width: 0.01px;
	padding-bottom: 643px;
	margin-left: 559px;
	margin-top: -564px;
}

#u248
{
	z-index: 6;
	width: 431px;
	height: 584px;
	top: 2519px;
	left: 559px;
}

#u100-4
{
	z-index: 68;
	top: 2540px;
	left: 579px;
}

#u101-10
{
	z-index: 72;
	width: 350px;
	min-height: 547px;
	top: 2615px;
	left: 580px;
}

#pu198
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 226px;
}

#u198
{
	z-index: 7;
	padding-bottom: 0px;
}

#u247_align_to_page,#u193_align_to_page,#u198_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u198_position_content
{
	padding-bottom: 648px;
}

#u200-4
{
	z-index: 101;
	left: 381px;
	margin-top: 49px;
}

#pu94-4
{
	width: 0.01px;
	left: 116px;
	margin-top: 53px;
	position: relative;
}

#u94-4
{
	z-index: 20;
	margin-right: -10000px;
	left: -1px;
}

#u93-4
{
	z-index: 28;
	margin-right: -10000px;
	left: 175px;
}

#u95-4
{
	z-index: 36;
	margin-right: -10000px;
	left: 349px;
}

#u198-bw
{
	z-index: 7;
	height: 877px;
}

#u96-4
{
	z-index: 44;
	margin-right: -10000px;
	margin-top: 186px;
	left: 641px;
}

#u98-4
{
	z-index: 48;
	margin-right: -10000px;
	margin-top: 186px;
	left: 815px;
}

#u249
{
	z-index: 106;
	padding-bottom: 0px;
}

#u249_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-bottom: 182px;
}

#business,#form
{
	left: 569px;
}

#u250
{
	z-index: 107;
	width: 760px;
	min-height: 504px;
	left: 212px;
	margin-top: 173px;
}

#u249-bw
{
	z-index: 106;
	margin-top: 276px;
	height: 877px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 116px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

