HTML {
  height: 100%;
  
}

body {
  background: #fff;
  font: 12em/1 'Open Sans';
  color: #313132;
  width: 100%;
}

section {
	min-height: 600px;
	height: auto;
	padding: 0px 0px 0px 0px;
	background: #fff;

}

#off-campus-stories, #on-campus-stories, #heat-map {
	padding-top: 20px;
} 

.ribbon {
 font-size: 40px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 75%;
    
 position: relative;
 background: #1a68ae;
 color: #fff;
 text-align: center;
 padding: .6em .8em; /* Adjust to suit */
 margin: 0px auto 32px auto; 
 
 }
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -.6em;
 border: 1em solid #165082;
 z-index: 0 ;
}
.ribbon:before {
 left: -2.5em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2.5em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #0e2b44 transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

.button {
  font-weight: 400;
  font-size: 20px;
  min-width: 50%;
  text-transform: uppercase;
  height: auto;
  padding: 15px;
  border: none;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Prata';
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #FFF;
  background-color: #1a68ae;
}



.flex-container {
  -webkit-flex-wrap: wrap;
  flex-wrap:         wrap;
  display: flex;
  height: auto;
  min-height: 600px;
  vertical-align: middle;


}


.icon {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0;
	padding: 0;
	line-height: 0;
}

.flex-tile {
	height: auto;
	min-height: 700px;
    width: 50%;
    overflow: hidden;
    -webkit-order: 0; /* Safari */
    order:         0;
    vertical-align: middle;
}

.article-container {
	margin-left: auto;
	margin-right: auto;
  -webkit-flex-wrap: wrap;
  flex-wrap:         wrap;
  display: flex;
  height: auto;
  min-height: 500px;
  vertical-align: middle;
  width: 90%;


}

.article-tile {
	height: auto;
	color: #1a68ae;
	background-color: #fff;
    width: 33.33%;
    overflow: hidden;
    -webkit-order: 0; /* Safari */
    order:         0;	
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	vertical-align: middle;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.article-tile p {
		text-align: left;

}

.article-tile:hover {
	-webkit-transform:scale(1.025); /* Safari and Chrome */
    -moz-transform:scale(1.025); /* Firefox */
    -ms-transform:scale(1.025); /* IE 9 */
    -o-transform:scale(1.025); /* Opera */
     transform:scale(1.025);
     
     box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
}



#text-tile {
	text-align: center;
	padding-top: 7%;
	margin-bottom: -10%;
	padding-bottom: 0;
	vertical-align: middle;
}

#text-tile p{
	text-align: left;
}

#photo-tile-on {
	background: url(https://bdsglobaldigest.files.wordpress.com/2012/01/upenn3.jpg) no-repeat center bottom ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#photo-tile-off {
	background: url(http://www.sas.upenn.edu/summer/sites/neutron_sas.summer/files/Gallery_SummerLife_Penn_Campus-2.jpg) no-repeat center bottom ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#hero {
	background: url(../img/bg.svg) no-repeat center bottom fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	min-height: 650px;
}

#year {
	font-family: 'Prata';
}

footer {
	width: 100%;
    height: 200px;
	position: fixed;
	bottom: 0px;
	z-index: -1;
    background-color: #1a68ae;

}
.footer-flex-container {
	text-align: center;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: #1a68ae;
    
}

.footer-flex-item {
	color: #fff;
    width: 33.33%;
    height: auto;
    padding: 10px;
    font-size: medium;
    color: black;
    text-decoration: none;
}

.footer-flex-item p{
	color: #fff;
}

.footer-spacer {
    height: 200px;
    background-color: transparent;
      box-shadow: inset 0px 10px 19px 1px rgba(0, 0, 0, 0.2);

}

h1 {
	text-align: center;
	font: 60px 'Prata';
	color: #1a68ae;
}

h2 {
	color: #1a68ae;
	text-align: center;
	font: 40px 'Prata';
}

p {
	font-size: medium;
	padding: 40px 40px 0px 40px;
	line-height: 20px;
}

hr {
	width: 80%;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #313132;
}

.text--line {
  font-size: .5em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 1.5s linear;
          animation: stroke-offset 1.5s linear;
}
.text-copy:nth-child(1) {
  stroke: #1a68ae;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #e75234;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #e75234;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #313132;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1a68ae;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  0% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  0% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
